body > .--header {
    position: sticky;
    top: 0;
}

#mapContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    height: 90vh;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 0;
}

#mapContainer > .cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(234, 236, 238);
    font-size: 1.25rem;
    z-index: 1;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#writeContainer {
    position: absolute;

    z-index: 0;
    background-color: white;
    top: 20%;
    left: 10%;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


#writeContainer > .list_container {
    margin: 0.5rem 1rem;
    border: 0.0625rem solid rgb(169, 169, 169);
    text-align: center;
    min-width: 10rem;

    font-size: 1rem;
}

#writeContainer > .list_container > .text {
    text-decoration: none;
    color: white;
}


#writeContainer > .walk-article {
    margin-top: 1rem;
    width: 90%;
}

#writeContainer > .walk-article > * + * {
    margin-bottom: 0.5rem;
}

#writeContainer > .walk-article > .title-container {
    background-color: rgb(234, 236, 238);
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
    border: 0.0625rem solid rgb(169, 169, 169);
}

#writeContainer > .walk-article > .image-container {
    padding-top: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 18rem;
}

#writeContainer > .walk-article > .image-container > .no-image,
#writeContainer > .walk-article > .image-container > .image {
    font-size: 1.2rem;
    background-color: rgb(234, 236, 238);
    border-radius: 0.5rem;
    width: 80%;
    padding: 1rem;
}

#writeContainer > .walk-article > .image-container > .no-image > *,
#writeContainer > .walk-article > .image-container > .image > * {
    font-size: 1.8rem;
}

#writeContainer > .walk-article > .image-container > .no-image > * + *,
#writeContainer > .walk-article > .image-container > .image > * + * {
    margin-top: 0.7rem;
}

#writeContainer > .walk-article > .image-container > .no-image.hidden {
    display: none;
}

#writeContainer > .walk-article > .image-container > .image-menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;
}

#writeContainer > .walk-article > .image-container > .image-menu > .image-select-button,
#writeContainer > .walk-article > .image-container > .image-menu > .image-delete-button,
#writeContainer > .walk-article > .image-container > .image-button-container > .image-select-button {
    font-size: 1.3rem;
    color: rgb(52, 152, 219);
    text-decoration: none;
    margin-bottom: 0.3rem;
}

#writeContainer > .walk-article > .image-container > .image-menu > .image-select-button:active,
#writeContainer > .walk-article > .image-container > .image-menu > .image-delete-button-button:active,
#writeContainer > .walk-article > .image-container > .image-button-container > .image-select-button:active {
    color: inherit;
}

#writeContainer > .walk-article > .image-container > .image-menu > .image-delete-button {
    color: rgb(198, 98, 31);
}

#writeContainer > .walk-article > .image-container > .image-button-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18rem;
}

#writeContainer > .walk-article > .image-container > .image {
    width: 70%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border: 0.0625rem solid rgb(234, 236, 238);
    object-fit: cover;
    object-position: center;
}

#writeContainer > .walk-article > .content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#writeContainer > .walk-article > .content-container > .content {
    margin: 0.5rem 0;
    padding: 0.5rem 0.3rem;
    width: 90%;
    min-height: 8rem;
    background-color: rgb(234, 236, 238);
    font-size: 1.2rem;
    overflow: hidden auto;
    resize: none;
}

#writeContainer > .walk-article > .submit-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#writeContainer > .walk-article > .submit-container > .write {
    min-width: 18rem;
    margin: 0.5rem 1rem;

    font-size: 2rem;
}

#mapContainer > .map > div > div > div > * {
    border: none;
    border: unset;
}


/* 지도 마커 클릭시 나오는 주소 */
#bAddr {
    font-size: 1rem;
    white-space: nowrap;
}










