<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.test.take_a_walk_duo.mappers.IBbsMapper">
    <select id="selectBoards" resultType="dev.test.take_a_walk_duo.entities.bbs.BoardEntity">
        SELECT `id`    AS `id`,
               `text`  AS `text`,
               `order` AS `order`
        FROM `twd_bbs`.`boards`
        ORDER BY `order`
        LIMIT 4;
    </select>

    <select id="selectBoardById" resultType="dev.test.take_a_walk_duo.entities.bbs.BoardEntity">
        SELECT `id`   AS `id`,
               `text` As `text`
        FROM `twd_bbs`.`boards`
        WHERE BINARY `id` = #{bid}
        LIMIT 1;
    </select>
    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.test.take_a_walk_duo.entities.bbs.ArticleEntity">
        INSERT INTO `twd_bbs`.`articles`
        (`user_email`, `board_id`, `title`, `content`, `thumbnail`, `thumbnail_type`,
         `view`, `written_on`, `modified_on`)
        VALUES (#{userEmail}, #{boardId}, #{title}, #{content}, #{thumbnail}, #{thumbnailType}, #{view},
                IFNULL(#{writtenOn}, DEFAULT(`written_on`)), IFNULL(#{modifiedOn}, DEFAULT(`modified_on`)));
    </insert>
    <insert id="insertImage"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.test.take_a_walk_duo.entities.bbs.ImageEntity">
        INSERT INTO `twd_bbs`.`images`
            (`index`, `file_name`, `file_mime`, `data`)
        VALUES (#{index}, #{fileName}, #{fileMime}, #{data})
    </insert>

    <select id="selectThumbnailByIndex"
            resultType="dev.test.take_a_walk_duo.entities.bbs.ArticleEntity">
        SELECT `index`          AS 'index',
               `thumbnail`      AS 'thumbnail',
               `thumbnail_type` AS 'thumbnailType'
        FROM `twd_bbs`.`articles`
        WHERE `index` = #{index}
    </select>
    <select id="selectArticleByIndex"
            resultType="dev.test.take_a_walk_duo.vos.bbs.ArticleReadVo">
        SELECT `articles`.`index`                       AS `index`,
               `articles`.`user_email`                  AS `userEmail`,
               `articles`.`board_id`                    AS `boardId`,
               `articles`.`title`                       AS `title`,
               `articles`.`content`                     AS `content`,
               `articles`.`thumbnail`                   AS `thumbnail`,
               `articles`.`thumbnail_type`              AS `thumbnailType`,
               `articles`.`view`                        AS `view`,
               `articles`.`written_on`                  AS `writtenOn`,
               `articles`.`modified_on`                 AS `modifiedOn`,
               `user`.`nickname`                        AS `userNickname`,
               `user`.`species`                         AS `userSpecies`,
               COUNT(`aLikedCount`.`article_index`)     AS `articleLikedCount`,
               COUNT(`articleLike`.`article_index`) > 0 AS `articleLiked`
        FROM `twd_bbs`.`articles`
                 LEFT JOIN `twd_member`.`users` AS `user` on articles.user_email = user.email
                 LEFT JOIN `twd_bbs`.`article_likes` AS `aLikedCount`
                           on `articles`.`index` = `aLikedCount`.`article_index`
                 LEFT JOIN `twd_bbs`.`article_likes` AS `articleLike`
                           on `articles`.`index` = `articleLike`.`article_index`
                               AND `articleLike`.`user_email` = IFNULL(#{email}, '')
        WHERE `articles`.`index` = #{index}
        GROUP BY `articles`.`index`
        LIMIT 1;
    </select>
    <select id="selectImageByIndex"
            resultType="dev.test.take_a_walk_duo.entities.bbs.ImageEntity">
        SELECT `index`     AS `index`,
               `file_name` AS `fileName`,
               `file_mime` AS `fileMime`,
               `data`      AS `data`
        FROM `twd_bbs`.`images`
    </select>
    <update id="updateArticle"
            parameterType="dev.test.take_a_walk_duo.entities.bbs.ArticleEntity">
        UPDATE `twd_bbs`.`articles`
        SET `user_email`     = #{userEmail},
            `board_id`       = #{boardId},
            `title`          = #{title},
            `content`        = #{content},
            `thumbnail`      = #{thumbnail},
            `thumbnail_type` = #{thumbnailType},
            `view`           = #{view},
            `written_on`     = #{writtenOn},
            `modified_on`    = #{modifiedOn}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <insert id="insertComment"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index"
            parameterType="dev.test.take_a_walk_duo.entities.bbs.CommentEntity">
        INSERT INTO `twd_bbs`.`comments`(`comment_index`, `user_email`, `content`, `article_index`, `written_on`)
        VALUES (#{commentIndex},  #{userEmail}, #{content}, #{articleIndex},
                IFNULL(#{writtenOn}, DEFAULT(`written_on`)))
    </insert>

<insert id="insertCommentImage"
        useGeneratedKeys="true"
        keyProperty="index"
        keyColumn="index"
        parameterType="dev.test.take_a_walk_duo.entities.bbs.CommentImageEntity">
    INSERT INTO `twd_bbs`.`comment_images` (`comment_index`, `data`, `type`)
    VALUES (#{commentIndex}, #{data}, #{type})
</insert>

</mapper>