<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.twd.take_a_walk_duo.mappers.IMapMapper">


    <insert id="insertWalkArticle"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index"
            parameterType="dev.twd.take_a_walk_duo.entities.bbs.ArticleEntity">
        INSERT INTO `twd_bbs`.`articles`
        (`user_email`, `board_id`, `title`, `content`, `thumbnail`, `thumbnail_type`, `view`, `written_on`,
         `modified_on`)
        VALUES (#{userEmail}, #{boardId}, #{title}, #{content}, #{thumbnail}, #{thumbnailType}, #{view},
                IFNULL(#{writtenOn}, DEFAULT(`written_on`)),
                IFNULL(#{modifiedOn}, DEFAULT(`modified_on`)))
    </insert>

    <insert id="insertLocation"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index"
            parameterType="dev.twd.take_a_walk_duo.entities.bbs.map.LocationEntity">
        INSERT INTO `twd_bbs`.`location` (`article_index`, `address`, `latitude`, `longitude`)
        VALUES (#{articleIndex}, #{address}, #{latitude}, #{longitude});
    </insert>

    <select id="selectPlacesExceptImage"
            resultType="dev.twd.take_a_walk_duo.vos.map.PlaceVo">
        SELECT `article`.`index`                                         AS 'index',
               `article`.`user_email`                                    AS 'userEmail',
               `article`.`board_id`                                      AS 'boardId',
               `article`.`title`                                         AS 'title',
               `article`.`content`                                       AS 'content',
               `article`.`view`                                          AS 'view',
               `article`.`written_on`                                    AS 'writtenOn',
               `article`.`modified_on`                                   AS 'modifiedOn',
               `location`.`latitude`                                     AS 'latitude',
               `location`.`longitude`                                    AS 'longitude',
               `location`.`address`                                      AS 'address',
               (SELECT COUNT(0)
                FROM `twd_bbs`.`article_likes` AS `articleLike`
                WHERE `articleLike`.`article_index` = `article`.`index`) AS 'likeCount',
               (SELECT COUNT(0)
                FROM `twd_bbs`.`comments` AS `comment`
                WHERE `comment`.`article_index` = `article`.`index`)     AS 'commentCount',
               (#{email} IS NOT NULL)                                    AS 'isSigned',
               COUNT(`articleLikeMine`.`user_email`) > 0                 AS 'isMine'
        FROM `twd_bbs`.`articles` AS `article`
                 LEFT JOIN `twd_bbs`.`location` AS `location` ON `article`.`index` = `location`.`article_index`
                 LEFT JOIN `twd_bbs`.`article_likes` AS `articleLikeMine` ON `articleLikeMine`.`user_email` = #{email}
            AND `article`.`index` = `articleLikeMine`.`article_index`
        WHERE `location`.`latitude` BETWEEN ${minLat} AND ${maxLat}
          AND `location`.`longitude` BETWEEN ${minLng} AND ${maxLng}
        GROUP BY `article`.`index`
    </select>

    <select id="selectPlace"
    resultType="dev.twd.take_a_walk_duo.vos.map.PlaceVo">
        SELECT `article`.`index`          AS 'index',
               `article`.`user_email`     AS 'userEmail',
               `article`.`board_id`       AS 'boardId',
               `article`.`title`          AS 'title',
               `article`.`content`        AS 'content',
               `article`.`view`           AS 'view',
               `article`.`written_on`     AS 'writtenOn',
               `article`.`modified_on`    AS 'modifiedOn',
               `location`.`address`       AS 'address',
               `location`.`latitude`      AS 'latitude',
               `location`.`longitude`     AS 'longitude'
        FROM `twd_bbs`.`articles` AS `article`
                 LEFT JOIN `twd_bbs`.`location` ON `article`.`index` = `location`.`article_index`
        WHERE `article`.`index` = #{index}

    </select>

    <select id="selectLocationByArticleIndex"
            resultType="dev.twd.take_a_walk_duo.entities.bbs.map.LocationEntity">
        SELECT `index`         AS 'index',
               `article_index` AS 'articleIndex',
               `address`       AS 'address',
               `latitude`      AS 'latitude',
               `longitude`     AS 'longitude'
        FROM `twd_bbs`.`location`
        WHERE article_index = #{articleIndex}
    </select>

    <update id="updateLocation"
            parameterType="dev.twd.take_a_walk_duo.entities.bbs.map.LocationEntity">
        UPDATE `twd_bbs`.`location`
        SET `article_index` = #{articleIndex},
            `address`       = #{address},
            `latitude`      = #{latitude},
            `longitude`     = #{longitude}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

</mapper>











