<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.twd.take_a_walk_duo.mappers.IShopMapper">

    <!--    <select id="selectArticleCountByBoardId"-->
    <!--            resultType="int">-->
    <!--        SELECT COUNT(0)-->
    <!--        FROM `twd_bbs`.`articles`-->
    <!--        WHERE `board_id` = #{boardId}-->
    <!--    </select>-->

    <select id="selectArticleCountByBoardId"
            resultType="int">
        SELECT COUNT(0)
        FROM `twd_bbs`.`articles` AS `article`
        LEFT JOIN `twd_shop`.`sale_product` AS `product`
        ON `article`.`index` = `product`.`article_index`
        LEFT JOIN `twd_shop`.`product_categories` AS `cotegory`
        ON `cotegory`.`id` = `product`.`category_text`
        WHERE `article`.`board_id` = 'shop' AND `product`.category_text = #{boardId}
        <if test="criterion != null and criterion.equals('title')">
            AND REPLACE(`article`.`title`,' ','') LIKE CONCAT('%',REPLACE(#{keyword},' ',''),'%')
        </if>
        <if test="criterion != null and criterion.equals('all')">
            AND (REPLACE(`article`.`title`,' ','') LIKE CONCAT('%',REPLACE(#{keyword},' ',''),'%')
            OR REPLACE(`article`.`content`,' ','') LIKE CONCAT('%',REPLACE(#{keyword},' ',''),'%'))
        </if>
        ORDER BY `article`.`index` DESC
    </select>

    <!--    <select id="selectArticlesByBoardId"-->
    <!--            resultType="dev.twdtake_a_walk_duo.vos.bbs.ArticleReadVo">-->
    <!--        SELECT `article`.`index` AS `index`,-->
    <!--        `article`.`user_email` AS `userEmail`,-->
    <!--        `article`.`board_id` AS `boardID`,-->
    <!--        `article`.`title` AS `title`,-->
    <!--        `article`.`view` AS `view`,-->
    <!--        `article`.`written_on` AS `writtenOn`,-->
    <!--        `article`.`modified_on` AS `modifiedOn`,-->
    <!--        `user`.`nickname` AS `userNickname`,-->
    <!--        COUNT(`commentCount`.`index`) AS `commentCount`-->

    <!--        FROM `twd_bbs`.`articles` AS `article`-->
    <!--        LEFT JOIN `twd_member`.`users` AS `user` ON `user`.`email` = `article`.`user_email`-->
    <!--        LEFT JOIN `twd_bbs`.`comments` AS `commentCount`-->
    <!--        ON `article`.`index` = `commentCount`.`article_index`-->
    <!--        WHERE `board_id` = #{boardId}-->
    <!--        <if twd="criterion != null and criterion.equals('title')">-->
    <!--            AND REPLACE(`article`.`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')-->
    <!--        </if>-->
    <!--        <if twd="criterion != null and criterion.equals('all')">-->
    <!--            AND (REPLACE(`article`.`title`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%')-->
    <!--            OR REPLACE(`article`.`content`, ' ', '') LIKE CONCAT('%', REPLACE(#{keyword}, ' ', ''), '%'))-->
    <!--        </if>-->
    <!--        <if twd="criterion != null and criterion.equals('nickname')">-->
    <!--            AND BINARY `user`.`nickname` = #{keyword}-->
    <!--        </if>-->
    <!--        GROUP BY `index`-->
    <!--        ORDER BY `index` DESC-->
    <!--        LIMIT #{limit} OFFSET #{offset}-->
    <!--    </select>-->

    <!--위에꺼 수정한거임-->
    <!--    <select id="selectArticlesByBoardId"-->
    <!--            resultType="dev.twd.take_a_walk_duo.vos.shop.ProductVo">-->
    <!--        SELECT `article`.`index`         AS `index`,-->
    <!--               `article`.`user_email`    AS `userEmail`,-->
    <!--               `article`.`board_id`      AS `boardID`,-->
    <!--               `article`.`title`         AS `title`,-->
    <!--               `article`.`thumbnail`     AS `thumbnail`,-->
    <!--               `article`.`view`          AS `view`,-->
    <!--               `article`.`written_on`    AS `writtenOn`,-->
    <!--               `article`.`modified_on`   AS `modifiedOn`,-->
    <!--               `product`.`quantity`      AS `qunantity`,-->
    <!--               `product`.`price`         AS `price`,-->
    <!--               `product`.`category_text` AS 'categoryText'-->
    <!--        FROM `twd_bbs`.`articles` AS `article`-->
    <!--                 LEFT JOIN `twd_member`.`users` AS `user` ON `user`.`email` = `article`.`user_email`-->
    <!--                 LEFT JOIN `twd_shop`.`sale_product` AS `product` ON `article`.`index` = `product`.`article_index`-->
    <!--        WHERE `board_id` = 'shop'-->
    <!--          AND `product`.`category_text` = #{boardText}-->
    <!--        GROUP BY `index`-->
    <!--        ORDER BY `index` DESC-->
    <!--        LIMIT #{limit} OFFSET #{offset}-->
    <!--    </select>-->
    <!--    되면 위에꺼 삭제-->
    <select id="selectArticlesByBoardId"
            resultType="dev.twd.take_a_walk_duo.vos.shop.ProductVo">
        SELECT `article`.`index` AS `index`,
        `article`.`user_email` AS `userEmail`,
        `article`.`board_id` AS `boardId`,
        `article`.`title` AS `title`,
        `article`.`thumbnail` AS `thumbnail`,
        `article`.`view` AS `view`,
        `article`.`written_on` AS `writtenOn`,
        `article`.`modified_on` AS `modifiedOn`,
        `product`.`quantity` AS `qunantity`,
        `product`.`price` AS `price`,
        `product`.`category_text` AS 'categoryText'
        FROM `twd_bbs`.`articles` AS `article`
        LEFT JOIN `twd_member`.`users` AS `user` ON `user`.`email` = `article`.`user_email`
        LEFT JOIN `twd_shop`.`sale_product` AS `product` ON `article`.`index` = `product`.`article_index`
        WHERE `product`.`category_text` = #{boardId}
        <if test="criterion !=null and criterion.equals('title')">
            AND REPLACE(`article`.`title`,' ','') LIKE CONCAT('%',REPLACE(#{keyword},' ',''),'%')
        </if>

        <if test="criterion !=null and criterion.equals('all')">
            AND (REPLACE(`article`.`title`,' ','') LIKE CONCAT('%',REPLACE(#{keyword},' ',''),'%')
            OR REPLACE(`article`.`content`,' ','') LIKE CONCAT('%',REPLACE(#{keyword},' ',''),'%'))
        </if>
        ORDER BY `article`.`index` DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectArticleByIndex"
            resultType="dev.twd.take_a_walk_duo.entities.bbs.ArticleEntity">
        SELECT `index`          AS `index`,
               `user_email`     AS `userEmail`,
               `board_id`       AS `boardID`,
               `title`          AS `title`,
               `content`        AS `content`,
               `thumbnail`      AS `thumbnail`,
               `thumbnail_type` AS `thumbnailType`,
               `view`           AS `view`,
               `written_on`     AS `writtenOn`,
               `modified_on`    AS `modifiedOn`
        FROM `twd_bbs`.`articles`
        WHERE `index` = #{aid}
        LIMIT 1;
    </select>

    <select id="selectProductByArticleIndex"
            resultType="dev.twd.take_a_walk_duo.entities.shop.SaleProductEntity">
        SELECT `index`         AS `index`,
               `article_index` AS `articleIndex`,
               `quantity`      AS `quantity`,
               `cost`          AS `cost`,
               `discount`      AS `discount`,
               `price`         AS `price`,
               `profit`        AS `profit`,
               `category_text` AS `categoryText`,
               `text`          AS `text`,
               `delivery_fee`  AS `deliveryFee`
        FROM `twd_shop`.`sale_product`
        WHERE `article_index` = #{aid}
        LIMIT 1;
    </select>

    <!-- shop/main용-->
    <select id="selectAllArticles"
            resultType="dev.twd.take_a_walk_duo.vos.shop.ProductVo">
        SELECT `article`.`index`         AS `index`,
               `article`.`user_email`    AS `userEmail`,
               `article`.`board_id`      AS `boardID`,
               `article`.`title`         AS `title`,
               `article`.`content`       AS `content`,
               `article`.`thumbnail`     AS `thumbnail`,
               `article`.`view`          AS `view`,
               `article`.`written_on`    AS `writtenOn`,
               `article`.`modified_on`   AS `modifiedOn`,
               `product`.`quantity`      AS `qunantity`,
               `product`.`price`         AS `price`,
               `product`.`category_text` AS 'categoryText',
               `product`.`text`          AS `text`
        FROM `twd_bbs`.`articles` AS `article`
                 LEFT JOIN `twd_member`.`users` AS `user` ON `user`.`email` = `article`.`user_email`
                 LEFT JOIN `twd_shop`.`sale_product` AS `product` ON `article`.`index` = `product`.`article_index`
        WHERE `article`.`board_id` = 'shop'
        ORDER BY `index` DESC
        LIMIT 8
    </select>

    <!--detail page-->
    <select id="selectArticleByArticleIndex"
            resultType="dev.twd.take_a_walk_duo.vos.shop.ProductVo">
        SELECT `article`.`index`         AS `index`,
               `article`.`user_email`    AS `userEmail`,
               `article`.`board_id`      AS `boardID`,
               `article`.`title`         AS `title`,
               `article`.`content`       AS `content`,
               `article`.`thumbnail`     AS `thumbnail`,
               `article`.`written_on`    AS `writtenOn`,
               `article`.`modified_on`   AS `modifiedOn`,
               `product`.`quantity`      AS `quantity`,
               `product`.`cost`          AS `cost`,
               `product`.`discount`      AS `discount`,
               `product`.`price`         AS `price`,
               `product`.`category_text` AS 'categoryText',
               `product`.`text`          AS `text`,
               `category`.`text`         AS `categoryName`
#                `user`.`admin_flag`       AS `isAdmin`
        FROM `twd_bbs`.`articles` AS `article`
                 LEFT JOIN `twd_member`.`users` AS `user` ON `user`.`email` = `article`.`user_email`
                 LEFT JOIN `twd_shop`.`sale_product` AS `product` ON `article`.`index` = `product`.`article_index`
                 LEFT JOIN `twd_shop`.`product_categories` AS `category` ON `category`.`id` = `product`.`category_text`
        WHERE `article`.`index` = #{aid}
        LIMIT 1
    </select>

    <!--get write-->
    <select id="selectArticle"
            resultType="dev.twd.take_a_walk_duo.vos.shop.ProductVo">
        SELECT `article`.`index`         AS `index`,
               `article`.`user_email`    AS `userEmail`,
               `article`.`board_id`      AS `boardID`,
               `article`.`title`         AS `title`,
               `article`.`content`       AS `content`,
               `article`.`thumbnail`     AS `thumbnail`,
               `article`.`written_on`    AS `writtenOn`,
               `article`.`modified_on`   AS `modifiedOn`,
               `product`.`quantity`      AS `qunantity`,
               `product`.`cost`          AS `cost`,
               `product`.`discount`      AS `discount`,
               `product`.`price`         AS `price`,
               `product`.`category_text` AS 'categoryText',
               `product`.`text`          AS `text`
        FROM `twd_bbs`.`articles` AS `article`
                 LEFT JOIN `twd_member`.`users` AS `user` ON `user`.`email` = `article`.`user_email`
                 LEFT JOIN `twd_shop`.`sale_product` AS `product` ON `article`.`index` = `product`.`article_index`
        LIMIT 1
    </select>
    <!-- ㅇㅇ   -->
    <insert id="insertProduct"
            parameterType="dev.twd.take_a_walk_duo.entities.shop.SaleProductEntity"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index">
        INSERT INTO `twd_shop`.`sale_product`
        (`article_index`, `quantity`, `cost`, `discount`, `price`, `profit`, `category_text`, `text`, `delivery_fee`)
        VALUES (#{articleIndex}, #{quantity}, #{cost}, #{discount}, #{price}, #{profit}, #{categoryText}, #{text},
                #{deliveryFee});
    </insert>

    <insert id="insertShopArticle"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index"
            parameterType="dev.twd.take_a_walk_duo.entities.bbs.ArticleEntity">
        INSERT INTO `twd_bbs`.`articles`
        (`user_email`, `board_id`, `title`, `content`, `thumbnail`, `thumbnail_type`, `view`, `written_on`,
         `modified_on`)
        VALUES (#{userEmail}, #{boardId}, #{title}, #{content}, #{thumbnail}, #{thumbnailType}, #{view},
                IFNULL(#{writtenOn}, DEFAULT(`written_on`)),
                IFNULL(#{modifiedOn}, DEFAULT(`modified_on`)));
    </insert>

    <select id="selectBoardById"
            resultType="dev.twd.take_a_walk_duo.entities.bbs.BoardEntity">
        SELECT `id`       AS `id`,
               `text`     AS `text`,
               `board_id` AS `boardId`,
               `order`    AS `order`
        FROM `twd_bbs`.`boards`
        WHERE BINARY `id` = #{bid}
        LIMIT 1;
    </select>

    <select id="selectBoards"
            resultType="dev.twd.take_a_walk_duo.entities.bbs.BoardEntity">
        SELECT `id`       AS `id`,
               `text`     AS `text`,
               `board_id` AS `boardId`
        FROM `twd_bbs`.`boards`
        ORDER BY `order`
    </select>

    <select id="selectImageByIndex"
            resultType="dev.twd.take_a_walk_duo.entities.bbs.ImageEntity">
        SELECT `index`     AS `index`,
               `file_name` AS `fileName`,
               `file_mime` AS `fileMime`,
               `data`      AS `data`
        FROM `twd_bbs`.`images`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <insert id="insertImage"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index">
        INSERT INTO `twd_bbs`.`images`(`file_name`, `file_mime`, `data`)
        VALUES (#{fileName}, #{fileMime}, #{data})
    </insert>

    <update id="updateProduct"
            parameterType="dev.twd.take_a_walk_duo.entities.shop.SaleProductEntity">
        UPDATE `twd_shop`.`sale_product`
        SET `article_index` = #{articleIndex},
            `quantity`      = #{quantity},
            `cost`          = #{cost},
            `discount`      = #{discount},
            `price`         = #{price},
            `profit`        = #{profit},
            `category_text` = #{categoryText},
            `text`          = #{text},
            `delivery_fee`  = #{deliveryFee}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <update id="updateArticle"
            parameterType="dev.twd.take_a_walk_duo.entities.bbs.ArticleEntity">
        UPDATE `twd_bbs`.`articles`
        SET `user_email`     = #{userEmail},
            `board_id`       = #{boardId},
            `title`          = #{title},
            `content`        = #{content},
            `thumbnail`      = #{thumbnail},
            `thumbnail_type` = #{thumbnailType},
            `view`           = #{view},
            `written_on`     = #{writtenOn},
            `modified_on`    = #{modifiedOn}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <select id="selectCartsByUserEmail"
            resultType="dev.twd.take_a_walk_duo.vos.shop.CartVo">
        SELECT `cart`.`index`           AS `index`,
               `cart`.`user_email`      AS `userEmail`,
               `cart`.`product_index`   AS `productIndex`,
               `cart`.`sale_price`      AS `salePrice`,
               `cart`.`quantity`        AS `quantity`,
               `cart`.`maxQuantity`     AS `maxQuantity`,
               `cart`.`delivery_fee`    AS `deliveryFee`,
               `cart`.`registration_on` AS `registrationOn`,
               `article`.`board_id`     AS `boardId`,
               `article`.`title`        AS `title`
        FROM `twd_shop`.`shopping_cart` AS `cart`
                 LEFT JOIN `twd_bbs`.`articles` AS `article` ON `article`.`index` = `cart`.`product_index`
        WHERE `cart`.`user_email` = #{userEmail}
          AND `article`.`board_id` = 'shop'
        GROUP BY `cart`.`index` DESC
        ORDER BY `cart`.`index` DESC
    </select>

    <select id="selectArticleByArticleIndexUserEmail"
            resultType="dev.twd.take_a_walk_duo.entities.shop.ShoppingCartEntity">
        SELECT `index`           AS `index`,
               `user_email`      AS `userEmail`,
               `product_index`   AS `productIndex`,
               `sale_price`      AS `salePrice`,
               `quantity`        AS `quantity`,
               `maxQuantity`     AS `maxQuantity`,
               `delivery_fee`    AS `deliveryFee`,
               `registration_on` AS `registrationOn`
        FROM `twd_shop`.`shopping_cart`
        WHERE `product_index` = #{aid}
          AND `user_email` = #{userEmail}
        LIMIT 1
    </select>

    <select id="selectCartByIndex"
            resultType="dev.twd.take_a_walk_duo.entities.shop.ShoppingCartEntity">
        SELECT `index`           AS `index`,
               `user_email`      AS `userEmail`,
               `product_index`   AS `productIndex`,
               `sale_price`      AS `salePrice`,
               `quantity`        AS `quantity`,
               `maxQuantity`     AS `maxQuantity`,
               `delivery_fee`    AS `deliveryFee`,
               `registration_on` AS `registrationOn`
        FROM `twd_shop`.`shopping_cart`
        WHERE `index` = #{index}
          AND `user_email` = #{userEmail}
        LIMIT 1
    </select>

    <select id="selectCartByCartIndex"
            resultType="dev.twd.take_a_walk_duo.entities.shop.ShoppingCartEntity">
        SELECT `index`           AS `index`,
               `user_email`      AS `userEmail`,
               `product_index`   AS `productIndex`,
               `sale_price`      AS `salePrice`,
               `quantity`        AS `quantity`,
               `maxQuantity`     AS `maxQuantity`,
               `delivery_fee`    AS `deliveryFee`,
               `registration_on` AS `registrationOn`
        FROM `twd_shop`.`shopping_cart`
        WHERE `index` = #{index}
    </select>

    <update id="updateCart"
            parameterType="dev.twd.take_a_walk_duo.entities.shop.ShoppingCartEntity">
        UPDATE `twd_shop`.`shopping_cart`
        SET `user_email`      = #{userEmail},
            `product_index`   = #{productIndex},
            `sale_price`      = #{salePrice},
            `quantity`        = #{quantity},
            `maxQuantity`     = #{maxQuantity},
            `delivery_fee`    = #{deliveryFee},
            `registration_on` = #{registrationOn}
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <insert id="insertCart"
            useGeneratedKeys="true"
            keyProperty="index"
            keyColumn="index"
            parameterType="dev.twd.take_a_walk_duo.entities.shop.ShoppingCartEntity">
        INSERT INTO `twd_shop`.`shopping_cart`(`user_email`, `product_index`, `sale_price`, `quantity`, `maxQuantity`,
                                               `delivery_fee`,
                                               `registration_on`)
        VALUES (#{userEmail}, #{productIndex}, #{salePrice}, #{quantity}, #{maxQuantity}, #{deliveryFee},
                #{registrationOn})
    </insert>

    <insert id="insertPayment"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="dev.twd.take_a_walk_duo.entities.shop.PaymentEntity">
        INSERT INTO `twd_shop`.`payment`(`user_email`, `group_index`, `product_index`, `sale_price`, `quantity`,
                                         delivery_fee, `registration_on`, `address_postal`, `address_primary`,
                                         `address_secondary`,
                                         `delivery_status`)
        VALUES (#{userEmail}, #{groupIndex}, #{productIndex}, #{salePrice}, #{quantity}, #{deliveryFee},
                #{registrationOn},
                #{addressPostal}, #{addressPrimary}, #{addressSecondary},
                IFNULL(#{deliveryStatus}, DEFAULT(`delivery_status`)))
    </insert>

    <delete id="deleteCartByIndex">
        DELETE
        FROM `twd_shop`.`shopping_cart`
        WHERE `index` = #{index}
    </delete>

    <select id="selectPaymentsByUserEmail"
            resultType="dev.twd.take_a_walk_duo.vos.shop.PaymentVo">
        SELECT `payment`.`index`             AS `index`,
               `payment`.`user_email`        AS `userEmail`,
               `article`.`title`             AS `title`,
               `payment`.`group_index`       AS `groupIndex`,
               `payment`.`product_index`     AS `productIndex`,
               `payment`.`sale_price`        AS `salePrice`,
               `payment`.`quantity`          AS `quantity`,
               `payment`.`delivery_fee`      AS `deliveryFee`,
               `payment`.`registration_on`   AS `registrationOn`,
               `payment`.`address_postal`    AS `addressPostal`,
               `payment`.`address_primary`   AS `addressPrimary`,
               `payment`.`address_secondary` AS `addressSecondary`,
               `payment`.`delivery_status`   AS `deliveryStatus`
        FROM `twd_shop`.`payment` AS `payment`
                 LEFT JOIN `twd_bbs`.`articles` AS `article` ON `article`.`index` = `payment`.`product_index`
        WHERE `payment`.`user_email` = #{userEmail}
        ORDER BY `index` DESC
    </select>

    <select id="selectPaymentByIndex"
            resultType="dev.twd.take_a_walk_duo.entities.shop.PaymentEntity">
        SELECT `index`             AS `index`,
               `user_email`        AS `userEmail`,
               `group_index`       AS `groupIndex`,
               `product_index`     AS `productIndex`,
               `sale_price`        AS `salePrice`,
               `quantity`          AS `quantity`,
               `delivery_fee`      AS `deliveryFee`,
               `registration_on`   AS `registrationOn`,
               `address_postal`    AS `addressPostal`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `delivery_status`   AS `deliveryStatus`
        FROM `twd_shop`.`payment`
        WHERE `group_index` = #{index}
    </select>

    <delete id="deletePayment">
        DELETE
        FROM `twd_shop`.`payment`
        WHERE `group_index` = #{index}
    </delete>

    <select id="selectPaymentByRegistration"
            resultType="dev.twd.take_a_walk_duo.entities.shop.PaymentEntity">
        SELECT `index`             AS `index`,
               `user_email`        AS `userEmail`,
               `group_index`       AS `groupIndex`,
               `product_index`     AS `productIndex`,
               `sale_price`        AS `salePrice`,
               `quantity`          AS `quantity`,
               `delivery_fee`      AS `addressPostal`,
               `registration_on`   AS `addressPrimary`,
               `address_postal`    AS `addressSecondary`,
               `address_primary`   AS `deliveryFee`,
               `address_secondary` AS `registrationOn`,
               `delivery_status`   AS `deliveryStatus`
        FROM `twd_shop`.`payment`
        WHERE `registration_on` = #{date}
    </select>
</mapper>



















