@charset "UTF-8";

body {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-image: url("https://img.freepik.com/free-photo/back-view-young-man-with-dog-seaside_23-2148885059.jpg?w=1800&t=st=1673404036~exp=1673404636~hmac=441724cedcb6a91c013e0a9ebc54111b5ca3bc34d98f89f42ecc50447fc21e56");
}

#listContainer {
    margin-top: 15rem;
    margin-left: 7.5rem;
    flex-basis: 15rem;
    z-index: 1;
}

#pageContainer {
    position: relative;
    flex: 1;
    z-index: 0;
}

#detailContainer {
    max-width: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1.5rem 0.0625rem rgba(0, 0, 0, 15%);
    display: none;
    flex-basis: 22.5rem;
    overflow: hidden;
    transition-duration: 250ms;
    transition-property: max-width;
    transition-timing-function: ease-in-out;
    z-index: 1;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#detailContainer.visible {
    max-width: 22.5rem;
}

#list {
    max-height: 100vh;
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    overflow: hidden auto;
    padding-block: unset;
    padding-inline: unset;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#list > .item {
    border-bottom: 0.0625rem solid rgb(234, 236, 238);
    cursor: pointer;
    padding: 1.25rem 1.5rem;
    display: none;

    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

#list > .item.visible {
    display: flex;
}

#list > .item > .info {
    flex: 1;

    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#list > .item > .info > .name-container > .name {
    color: rgb(52, 152, 219);
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

#list > .item > .info > .rating-container {
    margin-bottom: 0.375rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#list > .item > .info > .rating-container > .star-container {
    font-size: 0.9rem;
    color: rgb(213, 216, 220);
    margin-bottom: 0.375rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#list > .item > .info > .rating-container > .star-container > .star.filled {
    color: rgb(211, 84, 0);
}

#list > .item > .info > .rating-container > * + * {
    margin-left: 0.5rem;
}

#list > .item > .info > .address {
    margin-bottom: 0.25rem;
}

#list > .item > .info > .contact {
    color: rgb(20, 143, 119);
    font-size: 0.9rem;
}

#list > .item > .info > .rating-container .score {
    color: rgb(211, 84, 0);
    font-weight: 500;
}

#list > .item > .info > .rating-container .count {
    color: rgb(86, 101, 115);
    font-size: 0.9rem;
}

#list > .item > .info > .rating-container .review-count {
    color: rgb(86, 101, 115);
    font-size: 0.9rem;
}

#list > .item > .info > .name-container > .category {
    font-size: 0.95rem;
    color: rgb(128, 139, 150);
    font-weight: 300;
}

#list > .item > .info > .open-container {
    margin-bottom: 0.25rem;
}


#list > .item > .info > .open-container > .working {
    color: rgb(211, 84, 0);
    margin-right: 0.25rem;
}


#list > .item > .image {
    width: 4.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    object-fit: cover;
    object-position: center;
}

#pageContainer > .cover > .page {
    width: 40rem;
    height: 20rem;
    background-color: rgb(245, 245, 221, 70%);
    border: 0.0125rem solid rgb(211, 211, 211);
    padding: 1.25rem;
    margin-top: 15rem;
    margin-left: 10rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pageContainer > .cover > .page > .page > .pageOne {
    width: 38rem;
    /*margin-top: 7.5rem;*/
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#pageContainer > .cover > .page > .page > .pageOne > h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: rgb(0,0,0);
}

#pageContainer > .cover > .page > .page > .pageOne > span {
    color: rgb(0, 0, 0);
}

#pageContainer > .cover > .page > .page > .pageTwo {
    width: 38rem;
    padding: 1rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#pageContainer > .cover > .page > .page > .pageTwo > h1 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: rgb(0,0,0);
}

#pageContainer > .cover > .page > .page > .pageTwo > span {
    color: rgb(0, 0, 0);
}

#searchForm {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2.5rem;
}

#searchForm > .title {
    height: 3.75rem;
    background-color: rgb(44, 62, 80);
    color: rgb(255, 255, 255);
    cursor: default;
    /*font-family: 'Monoton', cursive;*/
    font-size: 1.75rem;
    pointer-events: none;
    letter-spacing: 0.25rem;
    text-align: center;
    user-select: none;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#searchForm > .label {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#searchForm > .label > .input {
    width: 100%;
    background-color: rgb(44, 62, 80);
    border: none;
    border-top: 0.0625rem solid rgb(64, 82, 100);
    border-bottom: 0.0625rem solid rgb(64, 82, 100);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font: inherit;
    outline: none;
    padding: 0.75rem 1rem;
}

#searchForm > .button-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#searchForm > .button-container > .button-title {
    background-color: rgb(139, 145, 121, 70%);
    color: rgb(255, 255, 255);
    flex: 1;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

#searchForm > .button-container > .button {
    background-color: rgb(245, 245, 221, 20%);
    color: rgb(0, 0, 0);
    flex: 1;
    padding: 0.75rem;
    text-align: end;
    text-decoration: none;
}

#searchForm > .button-container > .icon {
    background-color: rgb(245, 245, 221, 20%);
    color: rgb(0, 0, 0);
    padding: 0.75rem;
    text-decoration: none;
}

#searchForm > .button-container > .icon:hover {
    background-color: rgb(234, 227, 201);
}


#searchForm > .button-container > .button:hover {
    background-color: rgb(234, 227, 201);
}

#searchForm > .button-container > .button:active {
    background-color: rgb(234, 227, 201);
}

/* listForm */

#listForm > .list-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#listForm > .list-container > .list-title {
    background-color: rgb(139, 145, 121, 70%);
    color: rgb(255, 255, 255);
    flex: 1;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

#listForm > .list-container > .list {
    background-color: rgb(245, 245, 221, 70%);
    color: rgb(0, 0, 0);
    flex: 1;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

#listForm > .list-container > .list:hover {
    background-color: rgb(234, 227, 201);
}

#listForm > .list-container > .list:active {
    background-color: rgb(234, 227, 201);
}



























