@charset "UTF-8";

body {
    background-color: rgb(255, 255, 255);
}

#secessionForm {
    padding: 1rem 1rem;
    width: 35rem;
    max-width: 35rem;
    margin: 8rem 5rem;

    border-radius: 0.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#secessionForm > .secession {
    font-size: 1.2rem;
    width: 35rem;
}

/* 나가기 버튼 */
body > .xButton > .xButton {
    text-decoration: none;
}

body > .xButton > .xButton:hover {
    color: red;
}

body > .xButton > .xButton:active {
    color: blue;
}

/* x 아이콘 */
body > div > .xButton > .icon {
    padding-right: 2rem;
    padding-top: 2rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* 탈퇴하기 글씨 */
body > .--main > #secessionForm > .title {
    font-size: 2.85rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 탈퇴하기 버튼 */
body > .--main > #secessionForm > .secessionLabel > #secession-button {
    font-size: 1.25rem;
    background-color: rgb(139, 145, 121);
    color: rgb(255, 255, 255);
    width: 35rem;
    margin-top: 2rem;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* 탈퇴하기 버튼 hover */
body > .--main > #secessionForm > .secessionLabel > #secession-button:hover{
    background-color: rgb(120, 110, 11);
}

/* 탈퇴하기 버튼 active */
body > .--main > #secessionForm > .secessionLabel > #secession-button:active {
    background-color: rgb(120, 110, 11);
}
