<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>산책해듀오 - 회원 정보수정</title>
  <th:block th:replace="~{fragments/head :: common}"></th:block>
  <link rel="stylesheet" th:href="@{/member/resources/stylesheets/modifyUser.css}">
  <script defer th:src="@{/member/resources/scripts/modifyUser.js}"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body >
<div class="xButton" id="xButton">
        <span class="xButton">
            <i class="icon fa-solid fa-x"></i>
        </span>
</div>
<main class="--main main" th:if="${modifyUser!=null}">
  <div class="--content content">
    <form class="form step1" id="form">
      <input hidden name="initBirthMonth" th:value="${modifyUser.getBirthMonth()}">
      <input hidden name="initHaveDog" th:value="${modifyUser.getHaveDog()}">
      <input hidden name="initSpecies" th:value="${modifyUser.getSpecies()}">
      <input hidden name="initGender" th:value="${modifyUser.getGender()}">
      <div class="title-container">
        <h2 class="title">정보수정</h2>
        <div class="step-container">
          <span class="text" rel="stepText">이용약관 및 개인정보 처리방침</span>
          <span class="step step1">1</span>
          <span class="line"></span>
          <span class="step step2">2</span>
          <span class="line"></span>
          <span class="step step3">3</span>
        </div>
      </div>
      <div class="step step1">
        <label class="label">
          <h2 class="title"><i class="fa-solid fa-quote-left"></i> 회원 정보수정 <i class="fa-solid fa-quote-right"></i></h2>
          <div class="text">
              <span>정말로 회원정보를 수정하시겠습니까? <br>
                정보를 수정하시려면 다음 버튼을 클릭해 주세요.
              </span>
          </div>
        </label>
      </div>
      <div class="step step2" id="step2">
        <table class="table">
          <tbody>
          <tr>
            <th><i class="fa-solid fa-key"></i> 비밀번호</th>
            <td>
              <label class="label password">
                <span hidden>비밀번호</span>
                <input class="--object-input input" disabled maxlength="50" name="password"
                       placeholder="비밀번호를 입력해 주세요." type="password">
              </label>
              <label class="label password">
                <span hidden>비밀번호 재입력</span>
                <input class="--object-input input" disabled maxlength="50" name="passwordCheck"
                       placeholder="비밀번호를 한 번 더 입력해 주세요." type="password">
              </label>
              <input class="--object-button" disabled name="emailVerify" value="비밀번호 재설정"
                     type="button">
            </td>
          </tr>
          <tr>
            <th><i class="fa-regular fa-face-smile"></i> 이름</th>
            <td>
              <label class="label">
                <span hidden>이름</span>
                <input th:value="${modifyUser.getName()}"
                       class="--object-input input" maxlength="50" name="name"
                       placeholder="이름을 수정해 주세요." type="text">
              </label>
            </td>
          </tr>
          <tr>
            <th><i class="fa-solid fa-face-smile"></i> 닉네임</th>
            <td>
              <label class="label">
                <span hidden>닉네임</span>
                <input th:value="${modifyUser.getNickname()}"
                       class="--object-input input" maxlength="10" name="nickname"
                       placeholder="닉네임을 수정해 주세요." type="text">
              </label>
            </td>
          </tr>
          <tr>
            <th><i class="fa-solid fa-address-card"></i> 연락처</th>
            <td>
              <label class="label">
                <span hidden>연락처</span>
                <input th:value="${modifyUser.getContact()}"
                       class="--object-input input" maxlength="12" name="contact"
                       placeholder="연락처를 ' - ' 없이 수정해주세요" type="text">
              </label>
            </td>
          </tr>
          <tr>
            <th><i class="fa-solid fa-cake-candles"></i> 생년월일</th>
            <td class="birth">
              <label class="birth">
                <span hidden>연락처</span>
                <input th:value="${modifyUser.getBirthYear()}"
                        class="--object-input input" id="year" maxlength="4" name="birthYear"
                       placeholder="년(4자)" type="text">
                <br>
                <select name="birthMonth" id="birthMonth">
                  <option selected>월</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
                <br>
                <input th:value="${modifyUser.getBirthDay()}"
                        class="--object-input input" id="day" maxlength="4" name="birthDay"
                       placeholder="일" type="text">
              </label>
            </td>
          </tr>
          <tr>
            <th><i class="fa-solid fa-venus-mars"></i> 성별</th>
            <td class="gender">
              <label class="--object-gender">
                <span hidden>남</span>
                <input id="genderCheck" type="radio" name="gender" value="man" rel="genderMan">
                <span class="--text">남&nbsp</span>
                <span class="--checkbox">
                                <i class="fa-solid fa-check"></i>
                                </span>
              </label>
              <label class="--object-gender">
                <span hidden>여</span>
                <input type="radio" name="gender" value="woman" rel="genderWoman">
                <span class="--text">여&nbsp</span>
                <span class="--checkbox">
                                <i class="fa-solid fa-check"></i>
                                </span>
              </label>
            </td>
          </tr>
          <tr>
            <th><i class="fa-solid fa-bone"></i> 애완견 여/부</th>
            <td class="have">
              <label class="--object-have">
                <span hidden>애완견 여</span>
                <input id="haveCheck" type="radio" name="haveDog" value="have" rel="haveDog">
                <span class="--text">여&nbsp</span>
                <span class="--checkbox">
                                <i class="fa-solid fa-check"></i>
                                </span>
              </label>
              <label class="--object-have">
                <span hidden>애완견 부</span>
                <input type="radio" name="haveDog" value="notHave" rel="notHaveDog">
                <span class="--text">부&nbsp</span>
                <span class="--checkbox">
                                <i class="fa-solid fa-check"></i>
                                </span>
              </label>
            </td>
          </tr>
          <tr class="species" id="checkSpecies">
            <th><i class="fa-solid fa-dog"></i> 견종 선택</th>
            <td class="size">
              <label class="--object-size">
                <span hidden>소형견</span>
                <input type="radio" name="species" value="small" rel="small">
                <span class="--text">소형견&nbsp</span>
                <span class="--checkbox">
                                <i class="fa-solid fa-check"></i>
                                </span>
              </label>
              <label class="--object-size">
                <span hidden>중형견</span>
                <input type="radio" name="species" value="middle" rel="middle">
                <span class="--text">중형견&nbsp</span>
                <span class="--checkbox">
                                <i class="fa-solid fa-check"></i>
                                </span>
              </label>
              <label class="--object-size">
                <span hidden>대형견</span>
                <input type="radio" name="species" value="big" rel="big">
                <span class="--text">대형견&nbsp</span>
                <span class="--checkbox">
                                <i class="fa-solid fa-check"></i>
                                </span>
              </label>
            </td>
          </tr>
          <tr>
            <th><i class="fa-solid fa-location-dot"></i> 주소</th>
            <td>
              <label class="label address">
                <span hidden>우편번호</span>
                <input th:value="${modifyUser.getAddressPostal()}"
                        class="--object-input input" maxlength="6" name="addressPostal"
                       placeholder="우편번호" readonly type="text">
                <input class="--object-button" name="addressFind" value="주소 찾기" type="button">
              </label>
              <label class="label address">
                <span hidden>기본 주소</span>
                <input th:value="${modifyUser.getAddressPrimary()}"
                        class="--object-input input" maxlength="100" name="addressPrimary"
                       placeholder="주소 찾기를 통해 주소를 입력해 주세요" readonly type="text">
              </label>
              <label class="label address">
                <span hidden>상세 주소</span>
                <input th:value="${modifyUser.getAddressSecondary()}"
                        class="--object-input input" maxlength="100" name="addressSecondary"
                       placeholder="상세주소를 입력해 주세요" type="text">
              </label>
              <div class="panel address" rel="addressFindPanel">
                <div class="dialog" rel="addressFindPanelDialog"
                style="display: block"></div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="step step3">
        <span class="title">회원수정 완료</span>
        <span class="message"><b>산책해듀오</b>에 정보수정이 완료되었습니다.<br>아래 <b>로그인하러 가기</b> 버튼을 클릭하여 로그인해주세요.</span>
      </div>
      <div class="warning" rel="warning">
        <i class=" icon fa-solid fa-circle-exclamation"></i>
        <div class="text" rel="warningText">서비스 이용약관 및 개인정보 처리방침을 읽고 동의해 주세요.</div>
      </div>
      <!-- 이전 / 다음 버튼 -->
      <div class="button-container">
        <div class="button green" rel="beforeButton">
          <i class="fa-solid fa-chevron-left"></i>
          <span class="text">이전</span>
        </div>
        <div class="button green" rel="nextButton">
          <span class="text">다음</span>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
    </form>
  </div>
</main>
</body>
</html>