<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>산책해듀오 - 마이페이지</title>
    <th:block th:replace="~{fragments/head}"></th:block>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/myPage.css}">
    <script defer th:src="@{/member/resources/scripts/myPage.js}"></script>
    <script src="https://kit.fontawesome.com/12a5ab0618.js" crossorigin="anonymous"></script>
</head>
<body>
<section class="list-container" id="listContainer">
    <form class="search-form" id="searchForm">
        <span class="title">산책해듀오</span>
        <label class="label">
            <span hidden>사용자</span>
        </label>
        <div class="button-container">
            <span class="button" th:text="${users.getUserNickname()}">고근호님
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        </div>
        <div class="button-container">
            <span class="button">대형견 소유주
                <i class="fa-solid fa-dog"></i>
            </span>
        </div>
        <div class="button-container">
            <a class="button"
               th:href="@{/member/login}"
               th:if="${session.user == null}"
               target="_blank" id="loginButton">로그인</a>
            <a class="button"
               th:href="@{/member/logout}"
               th:if="${session.user != null}"
               target="_blank" id="logoutButton">로그아웃</a>
            <a class="button"
               th:href="@{/member/register}"
               th:if="${session.user == null}"
               target="_blank" id="registerButton">회원가입</a>
        </div>

    </form>
    <form class="list-form" id="listForm">
        <label class="label">
            <span hidden>리스트</span>
        </label>
        <div class="list-container">
            <a class="list"
               th:href="@{/member/myPage}"
               target="_blank" th:if="${session.user != null}">
                마이페이지</a>
        </div>
        <div class="list-container">
            <a class="list"
               th:href="@{/member}"
               th:if="${session.user != null}"
               target="_blank">주문조회</a>
        </div>
        <div class="list-container">
            <a class="list"
               th:href="@{/member}"
               th:if="${session.user != null}"
               target="_blank">위시 리스트</a>
        </div>
        <div class="list-container">
            <a class="list"
               th:href="@{/member}"
               th:if="${session.user != null}"
               target="_blank">취소/교환/반품</a>
        </div>
        <div class="list-container">
            <a class="list"
               th:href="@{/member}"
               th:if="${session.user != null}"
               target="_blank">포인트</a>
        </div>
        <div class="list-container">
            <a class="list"
               th:href="@{/member}"
               th:if="${session.user != null}"
               target="_blank">1:1 문의</a>
        </div>
        <div class="list-container">
            <a class="list"
               th:href="@{/member/changeInformation}"
               th:if="${session.user != null}"
               target="_blank">정보 수정</a>
        </div>
        <div class="list-container">
            <a class="list"
               th:href="@{/member/secession}"
               th:if="${session.user != null}"
               target="_blank">회원탈퇴</a>
        </div>
    </form>
</section>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<section class="page-container" id="pageContainer">
    <div class="cover" rel="cover">
        <form class="page">
            <div class="page">
                고근호 님 안녕하세요.
            </div>
        </form>
    </div>
</section>
</body>

</html>