<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>산책해듀오 - 이메일 찾기</title>
    <th:block th:replace="~{fragments/head :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/recoverEmail.css}">
    <script defer th:src="@{/member/resources/scripts/recoverEmail.js}"></script>
</head>
<body>
<div class="xButton" id="xButton">
        <span class="xButton">
            <i class="icon fa-solid fa-x"></i>
        </span>
</div>
<main class="--main main">
    <form name="form" id="form">
        <h1 class="title">이메일 찾기</h1>
        <table class="table">
            <tbody>
            <!--이름 입력창-->
            <tr>
                <th rowspan="1" id="name"></th>
                <td>
                    <label class="label name">
                        <span>이름</span>
                        <input autofocus class="--object-input input" maxlength="50" name="name" type="text">
                    </label>
                </td>
            </tr>
            <!--연락처 입력창-->
            <tr>
                <th rowspan="1" id="contact"></th>
                <td>
                    <label class="label contact">
                        <span>연락처</span>
                        <input autofocus class="--object-input input" maxlength="50" name="contact" type="text">
                    </label>
                </td>
            </tr>
            <!--경고창 - 이메일 or 비밀번호를 입력해주세요-->
            <tr class="warning-row" rel="warningRow">
                <th></th>
                <td>
          <span class="warning">
            <i class="icon fa-solid fa-circle-exclamation"></i>
            <span class="text">연락처를 입력해 주세요.</span>
                    </span>
                </td>
            </tr>
            <!--이메일 찾기 버튼-->
            <tr>
                <th id="find"></th>
                <td>
                    <label>
                        <input class="find-button" id="find-button" name="findButton"
                               type="button" value="이메일 찾기" href="#">
                    </label>
                </td>
            </tr>
            <tr class="message-row" rel="messageRow">
                <th></th>
                <td>
          <span class="message">
            <span class="text">회원님의 이메일은&nbsp<b rel="message"></b>&nbsp입니다.</span>
            </span>
                </td>
            </tr>
            <tr class="login-row" rel="loginRow">
                <th></th>
                <td>
                    <input class="--object-button" id="loginButton" name="recover" type="button" value="로그인">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</main>
</body>
</html>