@charset "UTF-8";


body > .--main {
    display: flex;
    padding: 0 8rem;
    flex-direction: column;
    align-items: center;
}

/*중간으로 셋팅*/
.--main > .--form {
    display: flex;
    justify-content: space-around;
}
.--main > .img {
    display: table;
    width: 100%;
    height: 15rem;
    margin: 2rem 2rem;

    background: url("/resources/images/dogplay.jpg") no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
}

.--main > .img > .dog-play {
    object-fit: cover;
    width: 70rem;
    height: 26rem;
}


body > .main > .search-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*공통css 조정*/
.--object-input {
    border: 0.12rem solid rgb(169, 175, 126);
    border-radius: 0.8rem;
    color: rgb(120, 120, 128);
    padding: 0.5rem 0.875rem;
}

.--object-button {
    background-color: rgb(169, 175, 126);
    box-sizing: border-box;
    border-radius: 0.375rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0.5rem 2rem;
}

.--object-button:hover {
    background-color: rgb(139, 145, 126);
}

body > .main > .search-form > .label {
    margin-right: 1rem;
}


.title-select {
    list-style: none;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}


.title-select > li {
    border: 0.0625rem solid rgb(180, 180, 188);
    padding: 0.625rem 1.5rem;
    color: rgb(180, 180, 188);
    margin: 1rem;
    list-style: none;
}

.title-select > li:hover {
    border: 0.0625rem solid rgb(169, 175, 126);
    color: rgb(169, 175, 126);
}

.title--select {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 5rem;
    min-width: 90%;
}

.title--select > .menu > .free-select{
    position: absolute;
    justify-content: center;
    /*display: flex;*/
    flex-direction: column;
    top: 5.7rem;
}

.title--select > li {
    border-radius: 0.3rem;
    color: rgb(180, 180, 188);
    margin: 1.75rem;
    list-style: none;
    /*여기 열고 닫기    */
}

.title--select > li.menu {
    display: flex;
    justify-content: center;
}

.title--select > li.menu > a {
    width: 8rem;
    border: 0.0625rem solid rgb(180, 180, 188);
    border-radius: 0.3rem;
    color: rgb(180, 180, 188);
    margin: 1rem;
    list-style: none;
    text-align: center;
    text-decoration: none;
}

.title--select > li > .free-select {
    text-align: center;
    padding: unset;
    list-style: unset;
    display: none;
}
.title--select > .side-menu > .a-select{
    text-decoration: none;
    color: inherit;
}

.title--select > li:hover > .free-select{
    display: flex;
    z-index: 3;
}

.title--select > li > .free-select > * {
    width: 8rem;
    color: rgb(180, 180, 188);
    background-color: rgb(255,255,255);
}
.title--select > li > .free-select > *:hover {
    background-color: rgba(180, 180, 188);
    color: rgb(255,255,255);
}
.title--select > li > .free-select > .scroll-menu > a {
    text-decoration: none;
    color: inherit;
}

.menu {
    line-height: 2.8rem;
}


#table {
    width: 70rem;
}

#table td {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
}

#table th {
    background-color: rgb(120, 110, 110);
    color: rgb(234, 236, 238);
    font-weight: inherit;
    padding: 1.1rem 1rem;
}

#table td,
#table th {
    white-space: nowrap;
}

#table td:nth-of-type(3),
#table th:nth-of-type(3) {
    width: 100%;
    white-space: normal;

}

#table > tbody > tr > td {
    font-size: 1rem;
    border-bottom: 0.0625rem solid rgb(234, 236, 238);
}


#pageContainer .page.selected, #pageContainer .page:hover {
    background-color: rgba(229, 232, 232,90%);
}

#pageContainer .page {
    background-color: rgba(229, 232, 232,50%);
    padding: 0.5rem 0.75rem;
    color: inherit;
    text-decoration: none;
}

/*공지사항 테이블 라인*/
#table > tbody > .notice-userArticle > td {
    background-color: rgb(120, 110, 110, 40%);
}

/*핫 게시글 라인*/
#table > tbody > .hot-userArticle > td {
    background-color: rgb(169, 175, 126, 20%);
}

#table > tbody > tr > td > .title {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.1rem;
}

#table > tfoot > tr > td > .page-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

/*#table > tfoot > tr > td > .page-container > .page {*/
/*    margin-inline: 0.5rem;*/
/*}*/

#table > tfoot > tr > td > .page-container > .page.number {
    margin-inline: 1rem;
}

.--form > .--content> .button-container{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1rem;
}
.--form > .--content> .button-container>a{
    text-decoration: none;
}

