@charset "UTF-8";


body > .--main {
    display: flex;
    padding: 0 8rem;
    flex-direction: column;
    align-items: center;
}

/*중간으로 셋팅*/
.--main > .--form {
    display: flex;
    justify-content: space-around;
}

.--main > .img {
    display: table;
    width: 100%;
    height: 15rem;
    margin: 2rem 2rem;

    background: url("/resources/images/dogplay.jpg") no-repeat; /* 배경이미지X */
    background-size: cover; /* 요소를 비율에 맞게 커버 */
    background-position: center; /* 이미지를 요소의 정가운데로 처리 */
    background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
}

.--main > .img > .dog-play {
    object-fit: cover;
    width: 70rem;
    height: 26rem;
}


.title-select {
    list-style: none;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;

}


.title-select > li {
    border: 0.0625rem solid rgb(180, 180, 188);
    padding: 0.625rem 1.5rem;
    color: rgb(180, 180, 188);
    margin: 1rem;
}

.title-select > li:hover {
    border: 0.0625rem solid rgb(169, 175, 126);
    color: rgb(169, 175, 126);
}

.title--select {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 5rem;
    min-width: 90%;
}

.title--select > .menu > .free-select {
    position: absolute;
    justify-content: center;
    /*display: flex;*/
    flex-direction: column;
    top: 5.7rem;
}

.title--select > li {
    border-radius: 0.3rem;
    color: rgb(180, 180, 188);
    margin: 1.75rem;
    list-style: none;
}

.title--select > li.menu {
    display: flex;
    justify-content: center;
}

.title--select > li.menu > a {
    width: 8rem;
    border: 0.0625rem solid rgb(180, 180, 188);
    border-radius: 0.3rem;
    color: rgb(180, 180, 188);
    margin: 1rem;
    list-style: none;
    text-align: center;
    text-decoration: none;
}

.title--select > li .free-select {

    text-align: center;
    padding: unset;
    list-style: unset;
    display: none;
}

.title--select > li:hover .free-select {
    display: flex;
    z-index: 3;
}

.title--select > .side-menu > .a-select {
    text-decoration: none;
    color: inherit;
}

.title--select > li > .free-select > * {
    width: 8rem;
    color: rgb(180, 180, 188);
    background-color: rgb(255, 255, 255);
}

.title--select > li > .free-select > .scroll-menu > a {
    text-decoration: none;
    color: inherit;
}


.title--select > li > .free-select > *:hover {
    background-color: rgba(180, 180, 188);
    color: rgb(255, 255, 255);
}

.menu {
    line-height: 2.8rem;
}

.read-form {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*read sumNail*/
body > .--main > .--form > .--content > .read-form .detail-img {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

/*read 테이블*/

.read-form {
    border-top: 0.2rem solid rgb(139, 145, 126);
    border-bottom: 0.2rem solid rgb(139, 145, 126);
    white-space: nowrap;
    width: 100%;
}

.table {
    white-space: nowrap;
    width: 100%;
    border-collapse: collapse;
}

.title-table > th,
.title-table > td {
    border-bottom: 0.2rem solid rgb(139, 145, 126);
    /* height: 2rem; */
    font-size: 1.25rem;
    text-align: center;
}

.table > .content {
    width: 100%;
}

.table > thead > tr > th,
.table > thead > .title-table > td:nth-of-type(1) {
    width: 3.5rem;
    height: 6rem;
}

.table > thead {
    border-bottom: 0.1rem solid rgb(139, 145, 126);
}

.table > thead > tr:nth-of-type(2) > th,
.table > thead > tr:nth-of-type(2) > td,
.table > thead > tr:nth-of-type(3) > th,
.table > thead > tr:nth-of-type(3) > td {
    font-size: 1rem;
    text-align: center;
    height: 3rem;
    text-decoration: none;
    border-bottom: 0.0625rem inset rgb(120, 120, 120)
}

.table > thead > tr:nth-of-type(3) > td:nth-of-type(3) {
    text-align: unset;
}

.table > tbody {
    border-bottom: 0.1rem solid rgb(139, 145, 126);
}

.table > thead > tr > td:nth-of-type(4) {
    border-left: 0.0625rem inset rgb(120, 120, 120);
}

#form > .table > thead > tr > td > a {
    text-decoration: none;
    color: rgb(169, 175, 126);
}

.table > tbody > tr > td > div {
    margin-top: 1rem;
}

.delete-article {
    cursor: pointer;
}


/*Article liked css구현부문*/
.table > thead > tr > td > .like > .toggle > i {
    /*font-size: 1.2rem;*/
    font-weight: 10;
    color: rgb(205, 97, 85);
}

.table > thead > tr > td > .like.visible > .toggle > i {
    font-size: 1.2rem;
    color: rgb(205, 97, 85);
    font-weight: 900;
}

/*썸네일 이미지 클릭 했을때 창*/
.image-scale {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 80%);
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    color: rgb(255, 255, 255);
    position: fixed;
}

.image-scale.visible {
    display: flex;
}

.image-scale > .detail-img {
    /*display: unset;*/
    /*object-fit: cover;*/
    /*height: 20rem;*/
    /*width: 20rem;*/
    border-radius: 0.5rem;
}

/*댓글 css*/
tfoot {
    margin: 1rem 0;
}

tfoot > .comment-row > td > .comment-mine-pic-form {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    border-bottom: 0.05rem solid rgba(120, 120, 120, 40%);
}



tfoot > .comment-row > td > .comment-container > .reply-form > .reply-mine-pic-form {
    display: none;
}
tfoot > .comment-row > td > .comment-container > .reply-form.visible > .reply-mine-pic-form {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

tfoot > .comment-row > td > .comment-mine-pic-form > .speciesPicContainer,
tfoot > .comment-row > td > .comment-container > .reply-form > .reply-mine-pic-form >.speciesPicContainer{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}


.speciesPicContainer > .speciesPic {
    width: 3rem;
    height: 3rem;
}

tfoot > .comment-row > td > .comment-mine-pic-form > .comment-mine-form,
tfoot > .comment-row > td > .comment-container > .reply-form > .reply-mine-pic-form > .reply-mine-form {
    border: 0.08rem solid rgb(169, 175, 126);
    border-radius: 0.5rem;
    padding: 1rem;
    flex: 1;
}

tfoot > .comment-row > td > .comment-mine-pic-form > .comment-mine-form > .comment-form,
tfoot > .comment-row > td > .comment-container > .reply-form >.reply-mine-pic-form > .reply-mine-form >.body{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

tfoot > .comment-row > td > .comment-mine-pic-form > .comment-mine-form > .comment-form > .label,
tfoot > .comment-row > td > .comment-container > .reply-form >.reply-mine-pic-form> .reply-mine-form >.body >.label{
    flex: 1;
    align-items: center;
    display: flex;
}

tfoot > .comment-row > td > .comment-mine-pic-form > .comment-mine-form > .comment-form > .label > .--object-input,
tfoot > .comment-row > td > .comment-container > .reply-form >.reply-mine-pic-form> .reply-mine-form >.body >.label >.--object-input{
    flex: 1;
    min-height: 2rem;
    resize: none;
}


tfoot > .comment-row > td > .comment-mine-pic-form > .comment-mine-form > .head,
tfoot > .comment-row > td > .comment-container > .reply-form > .reply-mine-pic-form > .reply-mine-form > .head {
    border-bottom: 0.09rem solid rgb(139, 145, 126, 80%);
    padding: 0.5rem;
}

tfoot > .comment-row > td > .comment-mine-pic-form > .comment-form > .label,
tfoot > .comment-row > td > .comment-mine-pic-form > .comment-form > .label > .--object-input{
    flex: 1;
}

.comment-container {
    padding: 1rem 0;
}

.comment-container > .comment > .comment {
    display: flex;
    flex-direction: row;
}

.comment-container > .comment > .comment > .head {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

.comment-container > .comment > .comment > .head > .action-container > .action {
    text-decoration: none;
    color: rgb(169, 175, 126);
}

.comment-container > .comment > .body > .content {
    display: flex;
    flex-direction: row;
}

.comment-container > .comment > .body > .content > .text,
.comment.sub >.body{
    white-space: normal;
    word-break: break-all;
    padding: 0.5rem 0;
    flex: 1;
}

.comment-container > .comment > .body > .content > .like {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.comment-container > .comment > .body > .content > .like > .toggle > i {
    /*font-size: 1.2rem;*/
    font-weight: 10;
    color: rgb(205, 97, 85);
}

.comment-container > .comment > .body > .content > .like.visible > .toggle > i {
    font-size: 1.2rem;
    color: rgb(205, 97, 85);
    font-weight: 900;
}

.comment-container > .comment > .body > .modify-form{
    display: none;
}

.comment-container > .comment > .body > .modify-form.visible {
    display: flex;
}

.comment-container > .comment > .body > .modify-form > .label,
.comment-container > .comment > .body > .modify-form > .label > .--object-input {
    display: flex;
    flex: 1;
    resize: none;
}

.comment-container > .comment > .body > .modify-form > .label > .--object-input {
    white-space: pre-wrap;
    word-break: break-all;
    padding: 0.5rem 0;
    flex: 1;
}

tfoot > .comment-row > td > .comment-container > .reply-form > .reply-mine-pic-form > .reply-mine-form > .head {
    display: flex;
    justify-content: space-between;
}

tfoot > .comment-row > td > .comment-container > .reply-form > .reply-mine-pic-form > .reply-mine-form > .head > .action-container > .action {
    text-decoration: none;
    color: rgb(169, 175, 126);
}

.comment.sub{
    border-left: 0.15rem solid gray;
    padding-left: 1rem;
    margin: 0 0 0 2.5rem;
}

