<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:if="${board != null}" th:text="${board.getText()+'- 글 쓰기'}">Take a walk duo</title>
    <th:block th:replace="~{fragments/head}"></th:block>
    <script defer th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/bbs/resources/scripts/modify.js}"></script>
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/modify.css}">
</head>
<body th:if="${board != null}">
<th:block th:replace="~{fragments/body :: header}"></th:block>
<main class="--main main">
    <div class="img"></div>
    <form class="content --content" id="form">
        <h1 class="title" th:text="${board.getText()+'- 글 수정하기'}">자유 게시판-글쓰기</h1>
        <div class="write-container">
            <label class="label">
                <div class="writeButton-container">
                <input class="--object-button" type="button" name="menu" value="목록">
                </div>
                <div class="writeButton-container">
                    <input class="--object-button" type="button" name="back" value="돌아가기">
                    <input class="--object-button" type="submit" name="submit" value="수정하기">
                </div>
            </label>
        </div>
        <table class="table" id="table">
            <tbody>
            <tr class="nameLine">
                <th>제목</th>
                <td>
                    <label class="label">
                        <span hidden>제목</span>
                        <input class="--object-input input" maxlength="100" name="title" placeholder="제목을 입력해주세요"
                               type="text" th:value="${article.getTitle()}">
                    </label>
                </td>
            </tr>
            <input hidden accept="image/" name="images" type="file">
            <tr class="contentLine">
                <th>
                    <div class="contentImage-container" rel="contentImageContainer">
                        <div>내용</div>
                        <a hidden class="image-select-button" href="#" rel="imageSelectButton">대표 이미지 선택</a>
                        <div class="image-container" rel="imageContainer">
                            <div hidden class="no-image" rel="noImage">선택된 이미지가 없습니다.</div>
                            <img alt="" class="image"
                                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Supreme_pizza.jpg/800px-Supreme_pizza.jpg"
                                 th:src="@{/bbs/thumbnail (index=${article.getIndex()})}">
                        </div>
                    </div>
                </th>
                <td>
                    <label class="label">
                        <span hidden>내용</span>
                        <textarea class="--object-input input" maxlength="10000" name="content"
                                  placeholder="내용을 입력해주세요 마지막 커밋입니다."
                                  type="text" th:utext="${article.getContent()}"></textarea>
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <input name="bid" type="hidden" th:value="${board.getId()}">
        <input name="aid" type="hidden" th:value="${article.getIndex()}">
    </form>
</main>
<!-- cover -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>