<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take a walk duo-list</title>
    <th:block th:replace="~{fragments/head}"></th:block>
    <script defer th:src="@{/bbs/resources/scripts/read.js}"></script>
    <link rel="stylesheet" th:href="@{/bbs/resources/stylesheets/read.css}">
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<main class="--main main">
    <div class="img">
        <!--        <img class="dog-play" th:src="@{/resources/image/dogplay.jpg}" alt="갱얼쥐">-->
    </div>
    <div class="--form">
        <div class="--content content">
            <nav>
                <ul class="title--select">
                    <li class="menu" rel="listMenu"><a th:href="@{/bbs/list(bid='free')}">자유게시판</a>
                        <ul class="free-select" rel="freeSelect">
                            <li class="scroll-menu" th:if="${boardTitle.getBoardId() == 'free'}"
                                th:each="boardTitle : ${boardTitles}">
                                <a class="a-select" th:text="${boardTitle.getText()}"
                                   th:href="@{/bbs/list(bid=${boardTitle.getId()})}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu" rel="listMenu"><a>모임후기</a>
                        <ul class="free-select" rel="freeSelect">
                            <li class="scroll-menu"><a>모임추천</a></li>
                            <li class="scroll-menu"><a>자랑하기</a></li>
                            <li class="scroll-menu"><a>릴스</a></li>
                        </ul>
                    </li>
                    <li class="menu" rel="listMenu"><a th:href="@{/bbs/list(bid='notice')}">공지사항</a>
                        <ul class="free-select" rel="freeSelect">
                            <li class="scroll-menu" th:if="${boardTitle.getBoardId() == 'notice'}"
                                th:each="boardTitle : ${boardTitles}">
                                <a class="a-select" th:text="${boardTitle.getText()}"
                                   th:href="@{/bbs/list(bid=${boardTitle.getId()})}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu" rel="listMenu"><a th:href="@{/bbs/list(bid='qna')}">QNA</a>
                        <ul class="free-select" rel="freeSelect">
                            <li class="scroll-menu" th:if="${boardTitle.getBoardId() == 'qna'}"
                                th:each="boardTitle : ${boardTitles}">
                                <a class="a-select" th:text="${boardTitle.getText()}"
                                   th:href="@{/bbs/list(bid=${boardTitle.getId()})}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu" rel="listMenu"><a th:href="@{/bbs/list(bid='query')}">거래문의</a>
                        <ul class="free-select" rel="freeSelect">
                            <li class="scroll-menu" th:if="${boardTitle.getBoardId() == 'query'}"
                                th:each="boardTitle : ${boardTitles}">
                                <a class="a-select" th:text="${boardTitle.getText()}"
                                   th:href="@{/bbs/list(bid=${boardTitle.getId()})}"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="title--select">
                    <li class="side-menu connect"><a>전체</a></li>
                    <li class="side-menu connect" th:each="boards : ${boardList}">
                        <a class="a-select" th:text="${boards.getText()}"
                           th:href="@{/bbs/list(bid=${boards.getId()})}"></a>
                    </li>
                </ul>
            </nav>
            <div th:if="${article != null}" class="read-form" id="form">
                <table class="table">
                    <thead>
                    <tr class="title-table">
                        <th hidden>번호</th>
                        <td th:text="${article.getIndex()}">17</td>
                        <th hidden>분류</th>
                        <td th:text="${board.getId()}">분류</td>
                        <th hidden>제목</th>
                        <td class="content" th:text="${article.getTitle()}">자유게시판 첫 글</td>
                        <th hidden>썸네일이미지</th>
                        <td class="image-tableData">
                            <div>
                                <img rel="thumbnailImage" class="detail-img"
                                     th:src="@{/bbs/thumbnail (index=${article.getIndex()})}" alt="#">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th hidden>견종분류</th>
                        <td th:text="${article.getUserSpecies()}">대형견||소형견</td>
                        <th hidden>관리자</th>
                        <td th:text="${article.getUserNickname()}">회원ID</td>
                        <th hidden></th>
                        <td></td>
                        <th hidden>추천수</th>
                        <td rowspan="2">
                            <div th:class="${'like '+(liked == true ?'visible':'')}" id="likeA">
                                <a href="#" class="toggle"><i class="fa-solid fa-heart"></i></a>
                                <span rel="likeCount" name="count" th:text="${article.getArticleLikedCount()}">1</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th hidden>작성 일시</th>
                        <td th:text="${#dates.format(article.getWrittenOn(),'yyyy-MM-dd HH:mm:ss')}">2000-01-01
                            00:00:00
                        </td>
                        <th hidden class="view">조회수</th>
                        <td th:text="${'조회수 ['+article.getView() +']'}">1</td>
                        <td>
                            <a class="modify-article" th:href="@{./modify (aid=${article.getIndex()})}">수정하기</a>
                            <a class="delete-article" id="deleteArticle">삭제하기</a>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="8">
                            <div class="content-container">
                                <p th:utext="${article.getContent()}">강아지 조아</p>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="comment-row">
                        <td colspan="6">
                            <form id="commentMinePicForm" class="comment-mine-pic-form">
                                <div class="speciesPicContainer">
                                    <img class="speciesPic" src="/resources/images/icons8-jake-150.png" alt="#">
                                </div>
                                <div id="commentMineForm" class="comment-mine-form">
                                    <div class="head">
                                        <span class="writer" th:text="${article.getUserNickname()}">관리자</span>
                                    </div>
                                    <div id="commentForm" class="comment-form">
                                        <label class="label">
                                            <span hidden>댓글작성</span>
                                            <textarea class="--object-input" onkeydown="resize(this)" onkeyup="resize(this)" maxlength="300" name="content"
                                                      placeholder="댓글을 입력해 주세요"></textarea>
                                        </label>
                                        <input class="--object-button" type="submit" value="작성">
                                    </div>
                                </div>
                                <input name="aid" type="hidden" th:value="${article.getIndex()}">
                            </form>
                            <div class="comment-container" id="commentContainer">
                                <div class="comment liked mine">
                                    <div class="comment head">
                                        <div class="speciesPicContainer">
                                            <img class="speciesPic" src="/resources/images/icons8-jake-150.png" alt="#">
                                        </div>
                                        <div class="head">
                                            <span class="writer">관리자</span>
                                            <span class="dt">2022-01-01 00:00:00</span>
                                            <span class="action-container">
                                                <a href="#" class="action reply">답글달기</a>
                                                <a href="#" class="action modify">수정</a>
                                                <a href="#" class="action delete">삭제</a>
                                                <a href="#" class="action cancel">취소</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div class="content">
                                            <span class="text">나만 몰랐던건가...?ㅎ</span>
                                            <div class="like">
                                                <a href="#" class="toggle"><i class="fa-solid fa-heart"></i></a><span
                                                    class="count"> 9,999</span>
                                            </div>
                                        </div>
                                        <form class="modify-form">
                                            <label class="label">
                                                <span hidden>댓글수정</span>
                                                <textarea class="--object-input" maxlength="300" name="content"
                                                          placeholder="댓글을 입력해 주세요"></textarea>
                                            </label>
                                            <input class="--object-button" type="submit" value="수정">
                                        </form>
                                    </div>
                                </div>
                                <form class="reply-form" id="replyForm">
                                    <div id="replyMinePicForm" class="reply-mine-pic-form">
                                        <div class="speciesPicContainer">
                                            <img class="speciesPic" src="/resources/images/icons8-jake-150.png" alt="#">
                                        </div>
                                        <div id="replyMineForm" class="reply-mine-form">
                                            <div class="head">
                                                <span class="writer">관리자</span>
                                                <span class="action-container">
                                                <a href="#" class="action cancel">취소</a>
                                                </span>
                                            </div>
                                            <div class="body">
                                                <label class="label">
                                                    <span hidden>답글작성</span>
                                                    <textarea class="--object-input" maxlength="300" name="content"
                                                              placeholder="답글을 입력해 주세요"></textarea>
                                                </label>
                                                <input class="--object-button" type="submit" value="작성">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="comment sub">
                                    <div class="comment head">
                                        <div class="speciesPicContainer">
                                            <img class="speciesPic" src="/resources/images/icons8-dog-64%20(3).png"
                                                 alt="#">
                                        </div>
                                        <div class="head">
                                            <span class="writer">누구</span>
                                            <span class="dt">2022-01-01 00:00:00</span>
                                            <span class="action-container">
                                                <a href="#" class="action reply">답글달기</a>
                                                <a href="#" class="action modify">수정</a>
                                                <a href="#" class="action delete">삭제</a>
                                                <a href="#" class="action cancel">취소</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="body">대형견이즈 와따! 첫 번째로는 안아 주면 기뻐합니다. 애정을 가지고 있는 상대방과 스킨십을 하는 것은 사람 역시 기분이
                                        업! 되기 마련이죠. 애견 역시도 사랑으로 꼬옥~ 안아 주면 행복함과 편안함을 느껴 마음이 안정될 수 있어요. 단, 그렇지 않은 경우도 있을 수
                                        있으니까 그러한 경우에는 너무 상처받지 않으시길 바랄게요!
                                    </div>
                                </div>
                                <div class="comment sub mine">
                                    <div class="comment head">
                                        <div class="speciesPicContainer">
                                            <img class="speciesPic" src="/resources/images/icons8-jake-150.png"
                                                 alt="#">
                                        </div>
                                        <div class="head">
                                            <span class="writer">내 대댓글</span>
                                            <span class="dt">2022-01-01 00:00:00</span>
                                            <span class="action-container">
                                                <a href="#" class="action reply">답글달기</a>
                                                <a href="#" class="action modify">수정</a>
                                                <a href="#" class="action delete">삭제</a>
                                                <a href="#" class="action cancel">취소</a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="body">휴먼이즈 와따!</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main>
<div class="image-scale" id="imageScale">
    <img class="detail-img" rel="scaleImage" th:src="@{/bbs/thumbnail (index=${article.getIndex()})}" alt="#"
         src="/resources/images/item1.jpg">
</div>
<div class="dialog" rel="dialog">
    <div class="dialog__inner">
        <h1>TAKEAWALKDUO</h1>
        <p class="text">Dialog 내용</p>
        <div class="dialog__btn__wrap">
            <button id="ok">OK</button>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>