@charset "UTF-8";

body {
    width: 100%;
    height: 100vh;
}

.--form {
    margin-top: 2.5rem;
    width: 100%;
    /*height: 125vw;*/
    display: flex;
    flex-direction: column;
    padding: 0 8rem;
}

.--form--first {
    width: 100%;
    /*height: 100vw;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.--form--first > .image--main{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}
.--form--first > .image--main >.section1-Title{
    position: absolute;
}

.--form--first > .section1-Title {
    position: absolute;
    color: white;
    font-size: 10rem;
    margin-bottom: 7rem;
    top: 30%;
}

.--form--second {
    width: 100%;
    /*height: 100vw;*/
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.article--content,
.shop--content {
    margin-top: 2rem;
    height: 22rem;
}

.map--content {
    margin-top: 2rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
}

.image {
    width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item {
    list-style: none;
    margin-right: 1rem;
}

.link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

body > main > .--form > .--form--second > .article--content > .article--container,
body > main > .--form > .--form--second > .shop--content > .shop--container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 2rem 0;
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}


.article-href,
.shop-href,
.map-href {
    text-decoration: none;
    color: gray;
    font-weight: 800;
    font-size: 2rem;
}
.advertising--image{
    margin: 2rem 0;
    width: 100%;
    height: 15rem;
}
.map--image{
    display: flex;
    justify-content: center;
    width: 100%;
}

.text{
    color: black;
}

.text-content{
    color: black;
    font-size: 0.9rem;
}

/* footer */

body > .--footer {
    padding: 1rem;
}