<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common">
  <script src="https://kit.fontawesome.com/5c01421323.js" crossorigin="anonymous"></script>
  <link th:href="@{/resources/stylesheets/common.css}" rel="stylesheet">
  <script defer th:src="@{/resources/scripts/common.js}"></script>
  <style> @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap'); </style>
  <link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Dongle:wght@300&family=Gaegu&family=Gamja+Flower&family=Hi+Melody&family=Jua&family=Monoton&family=Noto+Sans+KR:wght@100;300;400&family=Permanent+Marker&family=Single+Day&family=Sunflower:wght@500&display=swap" rel="stylesheet">
</th:block>

</html>