<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>산책해듀오 - 오류 페이지</title>
    <link rel="stylesheet" th:href="@{/error/resources/stylesheets/error.css}">
    <script src="https://kit.fontawesome.com/12a5ab0618.js" crossorigin="anonymous"></script>
</head>
<body>
<main class="--main main">
    <div class="--form" id="errorForm">
        <div class="warning">
            <div class="error"> <i class="icon fa-solid fa-triangle-exclamation"></i><b>오류</b><br>
                <span>Error</span>
            </div>
            <div class="errorPage">
                <span>잘못된 페이지 입니다.</span>
            </div>
            <div class="errorText">
                <div class="errorKorean">
                    <span>
                    요청하신 페이지를 처리 중에 오류가 발생했습니다. <br>
                        서비스 이용에 불편을 드려 죄송합니다. <br>
                        입력하신 주소가 정확한지 확인 후 다시 시도해 주시기 바랍니다.
                    </span>
                </div>
                <div class="errorEnglish">
                    <span>We have encountered system error while processing your request.<br>We apologize for the inconvenience.Please check URL and try again.</span>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>