<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>산책 추천</title>
    <th:block th:replace="~{fragments/head}"></th:block>
    <script src="https://kit.fontawesome.com/5c01421323.js" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3dd5def9cc8bbac0d245f16beaca36c9"></script>

    <script defer th:src="@{/map/resources/scripts/walkRead.js}"></script>
    <link rel="stylesheet" th:href="@{/map/resources/stylesheets/walkRead.css}">

</head>

<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>

<section class="map-container" id="mapContainer">
    <div class="map" id="map"></div>
    <div class="container" id="container">
        <div class="list-container" id="listContainer">
            <div class="write-container --object-button">
                <a class="text" th:href="@{/map/walk-write}"> 작성하기</a>
            </div>

            <ul class="list" id="list">
                <li class="item" rel="item">
                    <input type="hidden" name="latitude">
                    <input type="hidden" name="longitude">
                    <span class="top">
                        <img alt="" class="image" src="/resources/images/Ninave2.jpg">
                        <span class="info">
                            <span class="name" rel="name">장소 이름</span>
                            <span class="interest-container">
                                <span class="view-container">
                                    <i class="fa-solid fa-paw"></i>
                                    <span class="view">20</span>
                                </span>
                                <span class="review-container">
                                    <i class="fa-solid fa-comment"></i>
                                    <span class="review-counter">20</span>
                                </span>
                                <span class="like-container">
                                    <i class="icon fa-solid fa-heart"></i>
                                    <span class="like-counter">33</span>
                                </span>
                            </span>
                        </span>

                    </span>
                    <span class="address bottom">대구 중구 동인동1가 238-1</span>
                </li>
                <li class="item" rel="item">
                    <span class="top">
                        <span class="info">
                            <span class="name" rel="name">장소 이름</span>
                            <span class="interest-container">
                                <span class="view-container">
                                    <i class="fa-solid fa-eye"></i>
                                    <span class="view">20</span>
                                </span>
                                <span class="review-container">
                                    <i class="fa-solid fa-comment"></i>
                                    <span class="review-counter">20</span>
                                </span>
                                <span class="like-container">
                                    <i class="icon fa-solid fa-heart"></i>
                                    <span class="like-counter">33</span>
                                </span>
                            </span>
                        </span>
                        <img alt="" class="image" src="/resources/images/Ninave2.jpg">
                    </span>
                    <span class="address bottom">대구 중구 동인동1가 238-1</span>
                </li>
                <li class="item" rel="item">
                    <span class="top">
                        <span class="info">
                            <span class="name" rel="name">장소 이름</span>
                            <span class="interest-container">
                                <span class="view-container">
                                    <i class="fa-solid fa-eye"></i>
                                    <span class="view">20</span>
                                </span>
                                <span class="review-container">
                                    <i class="fa-solid fa-comment"></i>
                                    <span class="review-counter">20</span>
                                </span>
                                <span class="like-container">
                                    <i class="icon fa-solid fa-heart"></i>
                                    <span class="like-counter">33</span>
                                </span>
                            </span>
                        </span>
                        <img alt="" class="image" src="/resources/images/Ninave2.jpg">
                    </span>
                    <span class="address bottom">대구 중구 동인동1가 238-1</span>
                </li>

            </ul>
        </div>

        <div class="detail-container" id="detailContainer">
            <div class="title-container">
                <span class="title" rel="title">아크리시아</span>
                <a href=" " class="close-button" rel="closeButton">
                    <i class="fa-solid fa-xmark" rel="closeDetail"></i>
                </a>
            </div>
            <div class="modifyMenu" id="modifyMenuTop">
                <a rel="articleModify">수정</a>
                <a href="#" rel="articleDelete">삭제</a>
            </div>
            <div class="image-container" rel="imagecontainer">
                <img src="https://blog.kakaocdn.net/dn/bTDsmH/btq8ojyIgMX/cYkB7gcHPhMTS53inkz0Kk/img.jpg" alt=""
                     class="image" rel="placeImage">
            </div>
            <span class="interest-container">
                <span class="view-container">
                    <i class="fa-solid fa-eye"></i>
                    <span class="view" rel="view">20</span>
                </span>
                <span class="review-container">
                    <i class="fa-solid fa-comment"></i>
                    <span class="comment-counter" rel="commentCounter">20</span>
                </span>
                <span class="like-container">
                    <i class="icon fa-solid fa-heart" rel="likeIcon"></i>
                    <span class="like-counter" rel="likeCounter">33</span>
                </span>
            </span>

            <ul class="info-container">
                <li class="item address">
                    <i class="icon fa-solid fa-location-pin"></i>
                    <a class="text" rel="addressText">대구 중구 달구벌대로 2109-32</a>
                </li>

                <li class="item content">
                    <i class="icon fa-solid fa-file-invoice"></i>
                    <span class="text" rel="descriptionText"> 점심 나가먹을것 같다....으어닝라너이ㅏㄹ
                    점심 나가먹을것 같다....으어닝라너이ㅏㄹ
                    점심 나가먹을것 같다....으어닝라너이ㅏㄹ
                    점심 나가먹을것 같다....으어닝라너이ㅏㄹ
                    점심 나가먹을것 같다....으어닝라너이ㅏㄹ
                    점심 나가먹을것 같다....으어닝라너이ㅏㄹ점심 나가먹을것 같다....으어닝라너이ㅏㄹ
                        점심 나가먹을것 같다....으어닝라너이ㅏㄹ
                    </span>
                </li>
            </ul>
            <div class="review-unsigned" th:if="${session.user == null}"> 로그인 후 리뷰를 작성할 수 있어요.</div>

            <form class="review-form" id="reviewForm">
                <input hidden multiple accept="image/" name="images" type="file">
                <input type="hidden" name="articleIndex">
                <input id="loginUserEmail" type="hidden" name="userEmail" th:if="${session.user != null}"
                       th:value="${session.user.getEmail()}">
                <span class="comment_title">리뷰 작성</span>
                <div class="content-container">
                    <label class="label">
                        <span hidden>리뷰 내용</span>
                        <input type="text" class="input" maxlength="100" name="content" placeholder="리뷰를 작성해주세요.">
                    </label>
                    <input type="submit" value="작성" class="submit-button --object-button">
                </div>
                <div class="image-container" rel="imageContainer">
                    <div class="no-image" rel="noImage">선택된 이미지가 없습니다.</div>
                </div>
                <a href="#" class="image-select-button" rel="imageSelectButton">이미지 선택...</a>


                <ul class="review-container" rel="reviewContainer">
                    <li class="item">
                        <span class="nickname" rel="nickname">닉네임</span>
                        <span class="time">작성시간</span>

                        <div class="modifyMenu">
                            <a>수정</a>
                            <a>삭제</a>
                        </div>
                        <div class="image-container" rel="imageContainer">
                            <img src="https://pbs.twimg.com/media/FjCZZybVIAAHv-F.png" alt="" class="image">
                            <img src="https://pbs.twimg.com/media/FevC8cDVQAAjYxk.png" alt="" class="image">
                        </div>
                        <span class="content" rel="imageContainer">정신 나갈 것 같다</span>
                    </li>
                </ul>

            </form>


        </div>
    </div>
    <div class="fold-container" id="foldContainer">
        <i class="fa-solid fa-greater-than" rel="foldIcon"></i>
    </div>
</section>


<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>








