<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take a walk duo</title>
    <th:block th:replace="~{fragments/head}"></th:block>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/index.css}">
    <script defer th:src="@{/resources/scripts/index.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>

<main class="--main main">
    <section class="--form">
        <section class="--form--first">
            <img alt="썸네일이미지" class="image--main" src="/resources/images/mainback2.jpg">
            <div class="section1-Title"> Take A Walk Duo</div>
        </section>
        <section class="--form--second">
            <div class="article--content">
                <a class="article-href" th:href="@{/bbs/list?(bid='free')}">Community</a>
                <ul class="article--container">
                    <li class="item" th:each="article : ${articles}">
                        <a class="link" th:href="@{bbs/read(aid=${article.getIndex()})}">
                            <img alt="썸네일이미지" class="image" th:src="@{bbs/thumbnail(index=${article.getIndex()})}">
                            <span class="text" th:text="${article.getTitle()}">게시글1</span>
                            <span class="text-content" th:text="${article.userNickname}">작성자</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="advertising--content">
                <img alt="제품1" class="advertising--image" src="/resources/images/banner_cat.jpg">
            </div>
            <div class="shop--content">
                <a class="shop-href" th:href="@{/shop/main}">Shopping Mall</a>
                <div class="shop-list">
                    <span class="pre-btn"><i class="fa-solid fa-angle-left"></i></span>
                    <ul class="shop--container">
                        <li class="item shop-item" th:each="shopProduct : ${shopArticles}">
                            <a class="link" th:href="@{/shop/detail(aid=${shopProduct.getIndex()})}">
                                <img alt="제품1" class="image" th:src="|/bbs/thumbnail?index=${shopProduct.getIndex()}|">
                                <span class="text" th:text="${shopProduct.getTitle()}"></span>
                                <span class="text-content" th:text="${shopProduct.getPrice() + '원'}"></span>
                            </a>
                        </li>
                    </ul>
                    <span class="next-btn"><i class="fa-solid fa-angle-right"></i></span>
                </div>
            </div>
            <div class="map--content">
                <a class="map-href" th:href="@{/map/read}">Take A Walk</a>
                <a th:href="@{/map/read}">
                    <img alt="제품1" class="map--image" src="/resources/images/datingmap.jpg">
                </a>
            </div>
        </section>
    </section>
</main>

<!-- cover -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>