@charset "UTF-8";

/*.--main > .img {*/
/*    display: table;*/
/*    width: 100%;*/
/*    height: 15rem;*/
/*    margin: 2rem 2rem;*/
/*    background: url(/resources/images/dogplay.jpg) no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-attachment: fixed;*/
/*}*/
.empty-icon{
    font-size: 5rem;
    white-space: nowrap;
}
.empty-icon > span{
    margin-left: 0.75rem;
}

body > .--main {
    display: flex;
    padding: 0 8rem;
    flex-direction: column;
    align-items: center;
}

/*여기까지 list css같음*/

.--main > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.--main > .content > .title {
    font-size: 22px;
    border: 0.1rem solid rgb(128, 139, 150);
    padding: 1rem 3rem;
    margin-bottom: 3rem;
}

.table {
    border-collapse: collapse;
}

.table * {
    text-align: center;
}

.table th {
    border-right: 0.01rem solid #c4c4c4;
    height: 1.75rem;
    background-color: rgba(169, 175, 126, 90%);
    color: rgb(0, 0, 0);
    font-weight: 400;
    white-space: nowrap;
}

.table th:first-of-type {
    border-right: none;
    width: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.1rem 1rem;
}

.table > tbody > * > td:first-of-type {
    border-right: none;
    width: 1.5rem;
}

.table > tbody > * > td {
    border: 0.01rem solid #c4c4c4;
    height: 6rem;

}

.table > tbody > * > td:first-of-type{
    padding: 0.1rem 1rem;
}

/*cart.css 자체 css*/

.--object-button {
    border: none;
    margin-top: 0.5rem;
}

.delete-container{
    margin-top: 1.5rem;
}

.delete-container .--object-button {
    margin: unset;
    margin-bottom: 5rem;
}

input[type=checkbox] {
    appearance: auto;
    width: 1.5rem;
    height: 1.5rem;
}

.table > tbody > tr > td.image {
    width: 5rem;
    border-right: none;
    border-left: none;
}

.table > tbody > tr > td > .image-container > .product-image {
    max-width: 5rem;
}

.table > tbody > tr > td.product-info {
    width: 17.5rem;
    border-left: none;
    text-align: left;
    padding-left: 1.5rem;
    overflow-wrap: break-word;
}

.table > tbody > tr > td.product-info > a {
    max-width: inherit;
}

.table > tbody > .info-container > td {
    height: 3rem;
    border-right: 0.01rem solid #c4c4c4;
    text-align: right;
}

.info {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info > * {
    padding-inline: 1rem;
    text-align: center;
}

.info > div:last-of-type > span {
    color: black;
}

.info span {
    font-size: 0.75rem;
    padding-inline: 0.5rem;
    line-height: 1.25rem;
}

.info-footer {
    position: fixed;
    right: 0;
    bottom: 1.4rem;
    left: 0;
    padding: 0 8rem;
    height: 5rem;
}

.info-footer > div {
    background-color: rgba(169, 175, 126, 90%);
    border: 0.01rem solid #c4c4c4;
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.info > div:last-child > span {
    color: white;
    font-weight: 700;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.info-footer > div > span + span {
    margin-right: 3rem;
}

.info-footer > div > .--object-button {
    width: 9rem;
    height: 3rem;
    margin: 0 1.5rem 0 0;
    background-color: white;
    color: black;
    padding: 0.25rem 0.5rem;
    font-size: 1.15rem;
    font-weight: 700;
}

.info-footer > div > .--object-button > .info-quantity {
    display: inline-block;
    background-color: rgba(169, 175, 126, 90%);
    border: 0.0625rem solid rgba(169, 175, 126, 90%);
    border-radius: 99rem;
    width: 20px;
    height: 20px;
}

#modifyContainer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 50%);
    display: none;
    position: fixed;
    z-index: 3;
}

#modifyContainer.visible {
    display: block;
}

#modifyFrame {
    top: 50%;
    left: 50%;
    width: 25rem;
    height: 32.5rem;
    max-width: calc(100vw - 2rem);
    max-height: calc(100vh - 2rem);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem 0.0625rem rgba(0, 0, 0, 50%);
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
}

.modify-title{
    border-bottom: 0.0625rem solid #c4c4c4;
    width: 23rem;
    padding: 1rem;
    margin-bottom: 1rem;

    align-items : center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cancel-button{
    border: none;
    background-color: unset;
    font-size: 1rem;
    position: absolute;
    right: 1.5rem;
}

.cancel-button:hover{
    cursor: pointer;
}

.modify-body{
    align-items : center;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
    width: 23rem;
}

.modify-body > div > img{
    width: 5rem;
    height: 5rem;
}

.product-info{
    word-wrap: break-word;
    padding-left: 1rem;
    width: 74%;
    font-size: 0.9rem;
    align-self: flex-start;
    line-height: 1.25rem;
}

/*detail order start*/
.detail-order-container{
    padding: 0 1rem;
}

.detail-order-container > .order-text {
    border-top: 0.0625rem solid rgb(234, 236, 238);
    padding-top: 0.75rem;
    font-size: 0.9rem;
}

.detail-order-container > .detail-info-container {
    width: 100%;
    margin-bottom: 1.5rem;
}

.detail-order-container > .detail-info-container > .info-quantity-box {
    height: 34px;
    width: 100%;
    border-bottom: 0.0625rem solid rgb(234, 236, 238);
    padding-bottom: 1rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.detail-order-container > .detail-info-container > .info-quantity-box > .info-number {
    border-top: 0.0625rem solid rgb(171, 178, 185);;
    border-bottom: 0.0625rem solid rgb(171, 178, 185);
    height: inherit;
    width: 3rem;
    text-align: center;
}

.detail-order-container > .detail-info-container > .info-quantity-box > .info-number::-webkit-outer-spin-button,
.detail-order-container > .detail-info-container > .info-quantity-box > .info-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.detail-order-container > .detail-info-container > .info-quantity-box > .info-button {
    outline: 0.0625rem solid rgb(171, 178, 185);
    border: none;
    height: inherit;
    width: 34px;
    font-size: 1.25rem;
}

.detail-order-container > .detail-info-container > .info-quantity-box > .info-button:hover {
    cursor: pointer;
}

.detail-order-container > .detail-info-container > .info-quantity-box > .info-button:disabled {
    background-color: rgb(234, 236, 238);
    color: rgb(213, 216, 220);
    cursor: not-allowed;
}

.detail-order-container > .detail-info-container > .info-quantity-box > .just-space {
    flex: 1;
}

.detail-order-container > .detail-info-container > .info-quantity-box > .info-price {
    text-align: right;
    /*justify-self: right;*/
    /*position: absolute;*/
    /*right: 0.25rem;*/
}

.detail-order-container > .detail-charge-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-order-container > .detail-charge-container > .charge-info {
    font-weight: 700;
    font-size: 1rem;
}

.detail-order-container > .detail-charge-container > .charge-quantity {
    margin-left: 5rem;
    font-size: 0.9rem;
    color: rgb(171, 178, 185);
}

.detail-order-container > .detail-charge-container > .charge-price {
    color: rgb(133, 193, 233);
    font-size: 1.5rem;
    font-weight: 700;
}

.select-button{
    align-items : center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5rem 1rem;
}

.select-button > .cancel{
    background-color: rgb(171, 178, 185);
    height: 2.75rem;
    font-size: 1.25rem;
}

.select-button > .cancel:hover{
    background-color: rgb(128, 139, 150);
}

.select-button > .confirm{
    height: 2.75rem;
    font-size: 1.25rem;
}