@charset "UTF-8";

.tooltip {
    display: inline-block;
}

.tooltip-text {
    display: none;
    position: absolute;
    max-width: 300px;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8rem;
    color: black;
    background-color: rgb(238,240,244);
}

.tooltip:hover .tooltip-text {
    display: block;
}

.empty-icon {
    font-size: 5rem;
    white-space: nowrap;
}

.empty-icon > span {
    margin-left: 0.75rem;
}

body > .--main {
    display: flex;
    padding: 0 8rem;
    flex-direction: column;
    align-items: center;
}

/*중간으로 셋팅*/
.--main > .--form {
    display: flex;
    justify-content: space-around;
}

body > .--main > .detail-main {
    width: 100%;
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-top: 2rem;
}

body > .--main > .detail-main > div > .detail-img {
    object-fit: cover;
    height: 40rem;
    margin: 2rem 0 0 0;
    width: 40rem;
}

body > .--main > .detail-main > .detail-info {
    width: inherit;
    height: 40rem;
    margin: 2rem 0 0 0;
    padding-left: 10rem;
}

body > .--main > .detail-main > .detail-info > .detail-title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
}

body > .--main > .detail-main > .detail-info > .detail-stock {
    text-indent: 20px;
    font-size: 0.9rem;
    font-weight: 700;
    color: rgb(240, 178, 122);
    margin-bottom: 0.25rem;
}

body > .--main > .detail-main > .detail-info > .detail-stock > .detail-icon {
    text-indent: 0;
    margin: unset;
    padding: unset;
}

body > .--main > .detail-main > .detail-info > .detail-price {
    border: none;
    padding: 0 0 0.25rem 0;
    font-size: 0.9rem;
    color: rgb(171, 178, 185);
    text-decoration: line-through;
    text-indent: 20px;
}

body > .--main > .detail-main > .detail-info > .detail-sale-price {
    font-size: 1.25rem;
    text-indent: 20px;
    padding-bottom: 0.5rem;
    border-bottom: 0.0625rem solid rgb(234, 236, 238);
}

body > .--main > .detail-main > .detail-info > .detail-sale-price > .sale {
    color: rgb(254, 83, 86);
}

body > .--main > .detail-main > .detail-info > .detail-text {
    font-size: 0.9rem;
}

body > .--main > .detail-main > .detail-info > .detail-notice {
    font-size: 0.95rem;
    font-weight: 500;
    padding-bottom: 0.25rem;
}

body > .--main > .detail-main > .detail-info > .detail-notice > .text {
    font-weight: 300;
    padding-left: 0.25rem;
}

#orderForm > .select-container {
    border-top: 0.0625rem solid rgb(234, 236, 238);
    border-bottom: 0.0625rem solid rgb(234, 236, 238);
    padding: 0.5rem 0;
    margin-top: 0.75rem;
}

#orderForm > .select-container > .select {
    appearance: auto;
    font-weight: 300;
    outline: 0.0625rem solid rgb(171, 178, 185);
}

#orderForm > .select-container > .select:focus {
    font-weight: 500;
}

#orderForm > .detail-order-container > .order-text {
    border-top: 0.0625rem solid rgb(234, 236, 238);
    padding-top: 0.75rem;
    font-size: 0.9rem;
}

#orderForm > .detail-order-container > .detail-info-container {
    width: 100%;
    margin-bottom: 1.5rem;
}

#orderForm > .detail-order-container > .detail-info-container > .info-quantity-box {
    height: 34px;
    width: 100%;
    border-bottom: 0.0625rem solid rgb(234, 236, 238);
    padding-bottom: 0.75rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#orderForm > .detail-order-container > .detail-info-container > .info-quantity-box > .info-number {
    border-top: 0.0625rem solid rgb(171, 178, 185);;
    border-bottom: 0.0625rem solid rgb(171, 178, 185);
    height: inherit;
    width: 3rem;
    text-align: center;
}

#orderForm > .detail-order-container > .detail-info-container > .info-quantity-box > .info-number::-webkit-outer-spin-button,
#orderForm > .detail-order-container > .detail-info-container > .info-quantity-box > .info-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#orderForm > .detail-order-container > .detail-info-container > .info-quantity-box > .info-button {
    outline: 0.0625rem solid rgb(171, 178, 185);
    border: none;
    height: inherit;
    width: 34px;
    font-size: 1.25rem;
}

#orderForm > .detail-order-container > .detail-info-container > .info-quantity-box > .info-button:hover {
    cursor: pointer;
}

#orderForm > .detail-order-container > .detail-info-container > .info-quantity-box > .info-button:disabled {
    background-color: rgb(234, 236, 238);
    color: rgb(213, 216, 220);
    cursor: not-allowed;
}

#orderForm > .detail-order-container > .detail-info-container > .info-quantity-box > .just-space {
    flex: 1;
}

#orderForm > .detail-order-container > .detail-info-container > .info-quantity-box > .info-price {
    text-align: right;
    /*justify-self: right;*/
    /*position: absolute;*/
    /*right: 0.25rem;*/
}

#orderForm > .detail-order-container > .detail-charge-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#orderForm > .detail-order-container > .detail-charge-container > .charge-info {
    font-weight: 700;
    font-size: 1rem;
}

#orderForm > .detail-order-container > .detail-charge-container > .charge-quantity {
    font-size: 0.9rem;
    color: rgb(171, 178, 185);

    flex: 1;
    text-align: right;
    padding-right: 0.75rem;
}

#orderForm > .detail-order-container > .detail-charge-container > .charge-price {
    color: rgb(133, 193, 233);
    font-size: 1.5rem;
    font-weight: 700;
}

#orderForm > .detail-order-container > .product-button,
#orderForm > .detail-order-container > .admin-product-button {
    padding-top: 3rem;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#orderForm > .detail-order-container > .product-button > .--object-button,
#orderForm > .detail-order-container > .admin-product-button > .--object-button {
    /*background-color: rgba(169, 175, 126,30%);*/
    border: rgba(169, 175, 126, 30%) 0.0625rem solid;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    font-weight: 500;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#orderForm > .detail-order-container > .admin-product-button > .--object-button {
    filter: brightness(80%);
    color: black;
}

#orderForm > .detail-order-container > .product-button > .--object-button:hover {
    cursor: pointer;
    filter: brightness(125%);
}

#deleteButton,
#modifyButton {
    text-align: center;
    text-decoration: none;
}

/*공통css 조정*/
.--object-input {
    border: 0.12rem solid rgb(169, 175, 126);
    border-radius: 0.8rem;
    color: rgb(120, 120, 128);
    padding: 0.5rem 0.875rem;
}

.--object-button {
    background-color: rgb(169, 175, 126);
    box-sizing: border-box;
    border-radius: 0.375rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0.5rem 2rem;
}

.--object-button:hover {
    background-color: rgb(139, 145, 126);
}

.title-select {
    list-style: none;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 0.0625rem solid rgb(180, 180, 188);
    margin-top: 2rem;
    padding: unset;
}

.title-select > li {
    padding: 0.625rem 1.5rem;
    color: rgb(180, 180, 188);
    margin: 0.25rem 0;
}

.title-select > li:hover {
    color: rgb(169, 175, 126);
    cursor: pointer;
}

/*상세 정보 시작*/
#button-top {
    padding: unset;
    margin: unset;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

#button-top > * {
    padding: unset;
    margin: unset;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    background-color: unset;
    border: 0.0625rem solid rgb(216, 218, 220);
}

#button-top > *:hover {
    cursor: pointer;
    background-color: rgb(216, 218, 220);
}

#detailContentContainer {
    width: 100%;
}

#detailContentContainer > .title-select > * > * {
    text-decoration: none;
    color: inherit;
}

#detailContentContainer > div > span > p,
#detailContentContainer > div > span > .image {
    text-align: center;
}

#detailContentContainer > div > span > .image > img {
    aspect-ratio: 4/3;
    max-width: 80%;
    max-height: 80%;
}

#detailContentContainer > .information-container {
    width: 80%;
    margin: auto;
}

#detailContentContainer > .information-container > div:first-of-type {
    border-top: 0.0625rem solid rgb(216, 218, 220);
    font-size: 1.5rem;
    font-weight: 700;
    /*width: 80%;*/
    padding: 2rem 0;
}

#detailContentContainer b {
    font-size: 1rem;
}

#detailContentContainer > .information-container > p {
    text-indent: 20px;
    font-size: 0.9rem;
    line-height: 0.5rem;
}

#detailContentContainer > .information-container > p:last-of-type {
    border-bottom: 0.0625rem solid rgb(216, 218, 220);
    /*width: 80%;*/
    padding-bottom: 2rem;
}

#detailContentContainer > .information-table {
    padding-top: 1.5rem;
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
    margin: 1.5rem auto 3rem auto;
}

#detailContentContainer > .information-table > caption {
    text-align: left;
    padding-bottom: 0.9rem;
}

#detailContentContainer > .information-table > tbody > tr > th {
    font-size: 0.9rem;
    border: solid rgb(216, 218, 220);
    border-width: 1px 0;
    font-weight: unset;
    background-color: rgb(234, 236, 238);
    padding: 10px 20px;
    border-spacing: 0;
    width: 20%;
}

#detailContentContainer > .information-table > tbody > tr > td {
    font-size: 0.9rem;
    padding: 10px 20px;
    border: solid rgb(216, 218, 220);
    border-width: 1px 0;
    color: rgb(128, 139, 150);
    border-spacing: 0;
}


/*리뷰 css*/

.all-review-container {
    width: 80%;
}

#reviewTitle {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.review-container{
    margin-bottom: 2rem;
}

.review-main {
    display: flex;
    flex-direction: column;
    border-bottom: 0.0625rem solid rgb(216, 218, 220);
    margin-bottom: 1rem;
}
.review.head > .head {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.review.head > .head > .action-container > .modify,
.review.head > .head > .action-container > .delete{
    text-decoration: none;
    color: rgb(169, 175, 126);
    margin-right: 0.5rem;
}
.content{
    margin-bottom: 2rem;
}
.speciesPicContainer {
    display: flex;
    flex-direction: row;
}

.speciesPicContainer > .speciesPic {
    width: 3rem;
    height: 3rem;
}
.body > .review-container{
    padding-left: 0;
}
.body > .review-container > .item {
    list-style: none;
}

.body > .review-container > .item > .item-title {
    color: rgb(169, 175, 126);
    margin-bottom: 0.3rem;
}

.image-container > .image {
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
}

.body >.content >.text{
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.like-content{
    border: 0.1rem solid;
    text-decoration: none;
    color: rgb(0,0,117);
    border-radius: 0.3rem;
    padding: 0.2rem;
    font-size: 0.8rem;
}
.fa-regular{
    color: rgb(0,0,0);
    margin-right: 0.4rem;
}
.review-main > .review {
    flex-direction: row;
    display: flex;
}

.like.visible > .toggle > i {
    font-size: 1.2rem;
    color: rgb(205, 97, 85);
    font-weight: 900;
}






