@charset "UTF-8";


body > .--main {
    display: flex;
    padding: 0 8rem;
    flex-direction: column;
    align-items: center;
}

/*중간으로 셋팅*/
.--main > .--form {
    display: flex;
    justify-content: space-around;
}

.--main > .img {
    background: url("/resources/images/dogplay.jpg") no-repeat;
    background-position: 0 -12.5rem;
    width: 70rem;
    height: 15rem;
    margin: 2rem 2rem 0 2rem;
}


body > .main > .search-form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*공통css 조정*/
.--object-input {
    border: 0.12rem solid rgb(169, 175, 126);
    border-radius: 0.8rem;
    color: rgb(120, 120, 128);
    padding: 0.5rem 0.875rem;
}

.--object-button {
    background-color: rgb(169, 175, 126);
    box-sizing: border-box;
    border-radius: 0.375rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0.5rem 2rem;
}

.--object-button:hover {
    background-color: rgb(139, 145, 126);
}

body > .main > .search-form > .label {
    margin-right: 1rem;
}


.title-select {
    list-style: none;

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: unset;
    padding: unset;
}

.title-select > li {
    border: 0.0625rem solid rgb(180, 180, 188);
    border-radius: 99rem;
    padding: 0.625rem 1.5rem;
    color: rgb(180, 180, 188);
    margin: 1rem;
}

.title-select > li:hover {
    border: 0.0625rem solid rgb(169, 175, 126);
    color: rgb(169, 175, 126);
    cursor: pointer;
}

.title--select {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title--select > li {
    border: 0.0625rem solid rgb(180, 180, 188);
    padding: 0.625rem 1.5rem;
    border-radius: 0.3rem;
    color: rgb(180, 180, 188);
    margin: 1rem;
}

.title-select > li > a {
    text-decoration: none;
    color: rgb(180, 180, 188);
}

.title-select > li > a:hover{
    color: rgba(0,0,0,70%);
}


/*게시판 윗부분 css*/

#table td {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
}

#table th {
    background-color: rgb(120, 110, 110);
    color: rgb(234, 236, 238);
    font-weight: inherit;
    padding: 0.1rem 1rem;
}

#table td,
#table th {
    white-space: nowrap;
}

#table td:nth-of-type(3),
#table th:nth-of-type(3) {
    width: 100%;
    white-space: normal;
}

#table > tbody > tr:not(:last-of-type) > td {
    border-bottom: 0.0625rem solid rgb(234, 236, 238);
}

#table > tbody > tr > td > .title {
    color: inherit;
    text-decoration: none;

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#searchForm {
    margin-top: 1.5rem;

    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#searchForm > * + * {
    margin-left: 0.5rem;
}

/*그리드 부분임*/
body > main > .box {
    width: 92.5%;
    padding: 0 8rem;
    margin: 1rem 0 4rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body > main > .box > .title {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

body > main > .box > .item-container {
    display: grid;
    gap: 2rem 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    margin: unset;
    padding: unset;
}

body > main > .box > .item-container.emple {
    gap: 2.5rem 5rem;
}

body > main > .box > .item-container > .item {
    filter: brightness(95%);
    transition-duration: 250ms;
    transition-property: filter, transform;
    transition-timing-function: ease;
}

body > main > .box > .item-container > .item:hover {
    filter: brightness(100%);
    transform: scale(105%);
}

body > main > .box > .item-container > .item > .link {
    align-items: stretch;
    color: inherit;
    display: flex;
    flex-direction: column;
    font-size: 1.15rem;
    font-weight: 300;
    justify-content: flex-start;
    text-decoration: none;
}

body > main > .box > .item-container > .item > .link > .image {
    width: 100%;
    margin-bottom: 0.75rem;
}

body > main > .box > .item-container > .item > .link > .charge-price {
    font-size: 0.85rem;
    margin-top: 0.325rem;
}
/*그리드 부분임*/

/*그리드 컬럼,로우 부분임*/
body > main > .box > .item-container > .item.big{
    user-select: none;
    grid-column: 1/3;
    grid-row: 1/3;
}

body > main > .box > .item-container > .item.big:hover{
    cursor: default;
    transform: scale(100%);
}
/*그리드 컬럼,로우 부분임*/

/*옆으로 빠지는 이미지*/
body > main > .box > .item-container > .item-description{
    grid-column: 3/5;
}

body > main > .box > .item-container > .item-description > .description-header{
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.5rem;
}

body > main > .box > .item-container > .item-description > .description-body{
    padding-bottom: 1rem;
    border-bottom: 0.0625rem solid rgb(216,218,220);
}

body > main > .box > .item-container > .item-description > .side-image{
    margin-top: 3.15rem;

    align-items : flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
body > main > .box > .item-container > .item-description > .side-image > .image.side{
    width: 33.3%;
    height: 33.3%;
}

body > main > .box > .item-container > .item-description > .side-image > .side-description{
    padding-left: 1rem;
}

body > main > .box > .item-container > .item-description > .side-image > .side-description > .side.header{
    font-size: 1.25rem;
    font-weight: 500;
}

body > main > .box > .item-container > .item-description > .side-image > .side-description > .side.text{
    margin-top: 1rem;
    font-size: 1rem;
}

body > main > .box > .item-container > .item-description > .side-image > .side-description > .side.charge-price{
    margin-top: 0.25rem;
    font-size: 0.9rem;
}
/*옆으로 빠지는 이미지*/