@charset "UTF-8";

.empty-icon {
    font-size: 5rem;
    white-space: nowrap;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.empty-icon > span {
    margin-left: 0.75rem;
}

body > .--main {
    display: flex;
    padding: 0 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.--main > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.--main > .content > .title {
    font-size: 22px;
    border: 0.1rem solid rgb(128, 139, 150);
    padding: 1rem 3rem;
    margin: 3rem 0 1.5rem 0;
}

.table {
    border-collapse: collapse;
}

.table > tbody .separator td {
    border-top: 0.25rem solid rgba(169, 175, 126, 90%);
}

.table * {
    text-align: center;
    max-width: inherit;
}

.table th {
    border-right: 0.01rem solid #c4c4c4;
    height: 1.75rem;
    background-color: rgba(169, 175, 126, 90%);
    color: rgb(0, 0, 0);
    font-weight: 400;
    white-space: nowrap;
}

.table th:first-of-type {
    align-items: center;
    padding: 0.1rem 1rem;
}

.table > tbody > * > td:first-of-type {
    border-right: none;
    width: 1.5rem;
}

.table > tbody > * > td {
    border: 0.01rem solid #c4c4c4;
    height: 6rem;
    width: 3rem;
}

.table > tbody > * > td:first-of-type {
    padding: 0.1rem 1rem;
}

.--object-button {
    border: none;
    margin: unset;
    white-space: nowrap;
}

.--object-button.shop-review {
    background-color: rgba(40, 116, 166, 90%);
}

.--object-button.shop-review:hover {
    background-color: rgb(40, 116, 166);
}

.image {
    width: 5rem;
    border-right: none;
    border-left: none;
}

.product-image {
    max-width: 5rem;
}

.product-title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-title > * + * {
    margin-left: 1rem;
}

.table > tbody > tr > td {
    width: 9%;
}

.table > tbody > tr > td.product-info {
    width: 57.5%;
    border-left: none;
    text-align: left;
    padding-left: 1.5rem;
    overflow-wrap: break-word;

    align-items: center;
    flex-direction: row;
}

.pro-id {
    padding-right: 3rem;
    max-width: 20rem;
}


.table > tbody > .info-container > td {
    height: 3rem;
    border-right: 0.01rem solid #c4c4c4;
    text-align: right;
}

.button-container {
    width: 100%;
    max-width: inherit;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-container > button {
    margin-right: 1rem;
}

.product-info {
    word-wrap: break-word;
    padding-left: 1rem;
    width: 74%;
    font-size: 0.9rem;
    align-self: flex-start;
    line-height: 1.25rem;
}