@charset "UTF-8";

/*.--main > .img {*/
/*    display: table;*/
/*    width: 100%;*/
/*    height: 15rem;*/
/*    margin: 2rem 2rem;*/
/*    background: url(/resources/images/dogplay.jpg) no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-attachment: fixed;*/
/*}*/

.--main > .img {
    background: url("/resources/images/dogplay.jpg") no-repeat;
    background-position: 0 -12.5rem;
    width: 100%;
    height: 15rem;
    margin: 2rem 2rem 1rem 2rem;
}

body > .--main {
    display: flex;
    padding: 0 8rem;
    flex-direction: column;
    align-items: center;
}

/*여기까지 list css같음*/

.--main > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.--main > .content > .title {
    font-size: 22px;
    border: 0.1rem solid rgb(128, 139, 150);
    padding: 1rem 3rem;
    margin-bottom: 3rem;
}

.table th {
    background-color: rgb(120, 110, 11);
    border: 0.1rem solid rgb(120, 110, 11);
    color: rgb(234, 236, 238);
    font-weight: inherit;
    padding: 0.1rem 1rem;
}
th{
    padding: 0.5rem;
    margin: 0.5rem;
}

.table > tbody > .nameLine > td,
.table > tbody > .imageLine > td,
.table > tbody > .quantityLine > td,
.table > tbody > .textLine > td,
.table > tbody > .priceLine > td,
.table > tbody > .deliveryLine > td,
.table > tbody > .categoryLine > td
{
    border: 0.01rem solid #c4c4c4;
}

.--object-input{
    width: 100%;
}

.table .bean-table {
    background-color: unset;
    border: unset;
}

.table > thead {
    border-collapse: collapse;
}

.button-container {
    text-align: right;
}

/*.ck.ck-editor{'width'}*/

.ck-editor__editable {
    min-height: 13rem;

}
.ck.ck-editor__main>.ck-editor__editable.ck-focused {
    border:0.01rem solid #c4c4c4;
}

.imageLine > td {
    width: 5rem;
    height: 3rem;
}

#table * {
    border-radius: 0.4rem;
}

/*th 글자 안 깨지게 */
#table > tbody > tr > th {
    white-space: nowrap;
}

#table td.image{
    text-align: center;
    width: 50%;
    font-size: 1.25rem;
}

#table > tbody > .imageLine > td > label > .image-select-button{
    text-decoration: none;
    color: rgb(0,0,0);
}

#table > tbody > .imageLine > td > label > .image-select-button:hover{
    text-decoration: underline;
}

/*#table {*/
/*    max-width: 100%;*/
/*}*/

/*#table * {*/
/*    box-sizing: border-box !important;*/
/*}*/

.ck.ck-editor{
    width: 50%;
}

.ck.ck-toolbar,
.ck.ck-content{
    padding: unset;
}

.ck.ck-editor{
    width: 432px;
    padding: unset;
}