<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take a walk duo</title>
    <th:block th:replace="~{fragments/head}"></th:block>
    <script defer th:src="@{/shop/resources/scripts/cart.js}"></script>
    <link rel="stylesheet" th:href="@{/shop/resources/stylesheets/cart.css}">
    <script th:if="${user == null}">
        alert('로그인 후 이용해 주세요.');
        window.location.href = '/member/login';
    </script>
</head>
<body th:if="${user != null}">
<th:block th:replace="~{fragments/body :: header}"></th:block>
<main class="--main main">
    <!--    <div class="img"></div>-->
    <form class="content --content" id="form">
        <input hidden multiple accept="image/*" name="images" type="file">
        <h1 class="title">장바구니</h1>
        <!--        <div class="button-container">-->
        <!--            <input class="&#45;&#45;object-button" type="button" name="back" value="돌아가기">-->
        <!--            <input class="&#45;&#45;object-button" type="submit" name="submit" value="등록하기">-->
        <!--        </div>-->
        <table class="table" id="table">
            <tbody>
            <tr class="imageLine">
                <th>
                    <input type="checkbox" name="checkAll" value="checkAll" onclick="selectAll(this);">
                </th>
                <th colspan="2">상품정보</th>
                <th>수량</th>
                <th>상품금액</th>
                <th>배송비</th>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="checkBox" value="checkBox">
                </td>
                <td class="image">
                    <span hidden>상품 이미지</span>
                    <div class="image-container" rel="imageContainer">
                        <img class="product-image" src="/resources/images/item1.jpg">
                    </div>
                </td>
                <td class="product-info">
                    <a>상품</a>
                </td>
                <td>
                    <div>
                        <div>1</div>
                        <button class="--object-button" type="button">주문수정</button>
                    </div>
                </td>
                <td>
                    <div>
                        <div>1원</div>
                        <button class="--object-button" type="button">주문하기</button>
                    </div>
                </td>
                <td>
                    <label class="label">
                        <span hidden>상품 배송비</span>
                        <input class="--object-input input" min="3000" max="5000" value="3000" name="delivery"
                               placeholder="상품 배송비를 입력해주세요. (3000 ~ 5000)"
                               type="number">
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="6">

                </td>
            </tr>
            </tbody>
        </table>
        <table class="delete-container">
            <tr>
                <td>
                    <button class="--object-button" type="button">선택 삭제</button>
                </td>
            </tr>
        </table>

    </form>
</main>
<!-- cover -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>