<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take a walk duo</title>
    <th:block th:replace="~{fragments/head}"></th:block>
    <link rel="stylesheet" th:href="@{/shop/resources/stylesheets/detail_backup.css}">
    <script defer th:src="@{/shop/resources/scripts/detail.js}"></script>
    <script th:if="${product == null || product.getBoardId() != 'shop'}">
        alert('존재하지 않는 상품입니다.');
        if (window.history.length > 1) {
            window.history.back();
        } else {
            window.close();
        }
    </script>
</head>
<body th:if="${product != null}">
<th:block th:replace="~{fragments/body :: header}"></th:block>
<main class="--main main">
    <div class="detail-main">
        <div>
            <img class="detail-img" alt="" th:src="|/bbs/thumbnail?index=${product.getIndex()}|">
        </div>
        <div class="detail-info">
            <div class="detail-title" th:text="${product.getTitle()}">제목</div>
            <div class="detail-stock">
                <i class="detail-icon fa-solid fa-circle-exclamation"></i>
                <span th:text="| 재고 : ${product.getQuantity()}|"></span>
                <input rel="productQuantity" hidden th:value="${product.getQuantity()}">
            </div>
            <div class="detail-price" th:if="${product.getDiscount() > 0}" th:text="${product.getCost()} + '원'">30,000원</div>
            <div class="detail-sale-price">
                <span class="sale" th:if="${product.getDiscount() > 0}"  th:text="${product.getDiscount()} + '%'">30%</span>
                <span th:text="${product.getPrice()} + '원'">22,700원</span>
            </div>
            <p class="detail-text" th:text="${product.getTitle()}">제목</p>
            <p class="detail-text" th:text="${product.getText()}">내용</p>
            <div class="detail-notice">
                배송 방법
                <span class="text">택배</span>
            </div>
            <div class="detail-notice">
                배송비
                <span class="text">3,000원</span>
            </div>
            <form class="order-form" id="orderForm">
<!--                    여유가 된다면 사료 : 맛, 갯수 등등 / 옷 : 사이즈로 나눠보자-->
<!--                <div class="select-container">-->
<!--                    <select class="select" name="product-select">-->
<!--                        <option value="1" selected>옵션을 선택해 주세요.</option>-->
<!--                        <option value="2">1번</option>-->
<!--                        <option value="3">2번</option>-->
<!--                    </select>-->
<!--                </div>-->
                <div class="detail-order-container">
                    <p class="order-text" th:text="${product.getTitle()}">제목</p>
                    <div class="detail-info-container">
                        <div class="info-quantity-box">
                            <button disabled class="info-button" name="minusButton" type="button">-</button>
                            <input class="info-number" min="1" max="100" name="infoNumber" rel="infoNumber" value="1" type="number">
                            <button class="info-button" name="plusButton" type="button">+</button>
                            <input disabled class="info-price" rel="infoPrice" name="infoPrice" th:value="${product.getPrice()} + '원'">
                        </div>
                    </div>
                    <div class="detail-charge-container">
                        <span class="charge-info">
                        총 상품 금액
                            <i class="tooltip fa-regular fa-circle-question">
<!--                            <span class="tooltiptext tooltip-bottom">총 상품 금액에 <b>배송비는 포함되어 있지 않습니다.</b> <br> 결제시 배송비가 추가될 수 있습니다.</span>-->
                            </i>
                        </span>
                        <span class="charge-quantity" rel="chargeQuantity">총 수량 1개</span>
                        <span class="charge-price">22,700원</span>
                    </div>
                    <div class="product-button">
                        <input class="buy --object-button" value="구매하기" type="submit">
                        <input class="cart --object-button" value="장바구니" type="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="detail-content-container">
        <ul class="title-select">
            <li><a>상세정보</a></li>
            <li><a>리뷰(0)</a></li>
            <li><a>Q&A(0)</a></li>
            <li><a>반품/교환정보</a></li>
        </ul>
        <div>
            dd
        </div>
    </div>


    <form class="search-form" id="searchForm" method="get">
        <label class="label">
            <span hidden>검색 기준</span>
            <select class="--object-input" name="criterion">
                <option value="all">제목 + 내용</option>
                <option value="title">제목</option>
                <option value="nickname">작성자</option>
            </select>
        </label>
        <label class="label">
            <span hidden>검색어</span>
            <!--주소창에서 키값이 keyword인 값을 value로 넣는다-->
            <input class="--object-input" maxlength="50" name="keyword" placeholder="검색어를 입력해 주세요." type="text">
        </label>
        <!--검색 결과에 bid 필요해서 넣음-->
        <input name="bid" type="hidden">
        <input class="--object-button" type="submit" value="검색">
    </form>
</main>
<!-- cover -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>