<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take a walk duo</title>
    <th:block th:replace="~{fragments/head}"></th:block>
    <script defer th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/shop/resources/scripts/modify.js}"></script>
    <link rel="stylesheet" th:href="@{/shop/resources/stylesheets/write.css}">
    <script th:if="${user == null || user.getAdmin() == false}">
        alert('권한이 없거나 로그아웃 되었습니다. 로그인 후 다시 시도해 주세요.');
        window.location.href = '/member/login';
    </script>
</head>
<body th:if="${user != null}">
<th:block th:replace="~{fragments/body :: header}"></th:block>
<main class="--main main">
    <form class="content --content" id="form">
        <input hidden multiple accept="image/*" name="images" type="file">
        <h1 class="title">상품 수정</h1>
        <div class="button-container">
            <input class="--object-button" type="button" name="back" value="돌아가기">
            <input class="--object-button" type="submit" name="submit" value="수정하기">
        </div>
        <table class="table" id="table">
            <tbody>
            <tr class="imageLine">
                <th rowspan="10">상품 이미지</th>
                <td rowspan="10" class="image">
                    <label class="label">
                        <span hidden>상품 이미지</span>
                        <div class="image-container" rel="imageContainer">
                            <img class="image" th:src="|/bbs/thumbnail?index=${product.getIndex()}|">
                            <!--이미지 들어오는 곳-->
                        </div>
                        <a class="image-select-button" href="#" rel="imageSelectButton">상품 이미지 선택...</a>
                    </label>
                </td>
            </tr>
            <tr class="categoryLine">
                <th>종류</th>
                <td>
                    <label class="label">
                        <span hidden>상품 종류</span>
                        <select name="category" class="" required>
                            <option selected th:value="${product.getCategoryText()}" th:text="${product.getCategoryName()}"></option>
                            <option th:if="${product.getCategoryText() != 'feed'}" value="feed">사료</option>
                            <option th:if="${product.getCategoryText() != 'snack'}" value="snack">간식</option>
                            <option th:if="${product.getCategoryText() != 'clothes'}" value="clothes">옷</option>
                            <option th:if="${product.getCategoryText() != 'toy'}" value="toy">장난감</option>
                            <option th:if="${product.getCategoryText() != 'etc'}" value="etc">기타 용품</option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr class="nameLine">
                <th>이름</th>
                <td>
                    <label class="label">
                        <span hidden>상품 이름</span>
                        <input th:value="${product.getTitle()}" class="--object-input input" required maxlength="100" name="title"
                               type="text">
                    </label>
                </td>
            </tr>
            <tr class="quantityLine">
                <th>재고량</th>
                <td>
                    <label class="label">
                        <span hidden>재고량</span>
                        <input th:value="${product.getQuantity()}" class="--object-input input" required min="1" max="999" name="quantity"
                               type="number">
                    </label>
                </td>
            </tr>
            <tr class="costLine">
                <th>원가</th>
                <td>
                    <label class="label">
                        <span hidden>상품 원가</span>
                        <input th:value="${product.getCost()}" class="--object-input input" required min="1" max="999999" name="cost" onkeyup="cal();"
                               placeholder="상품 원가를 입력해주세요. (1 ~ 999999)" type="number">
                    </label>
                </td>
            </tr>
            <tr class="discountLine">
                <th>할인율</th>
                <td>
                    <label class="label">
                        <span hidden>상품 할인율</span>
                        <input th:value="${product.getDiscount()}" class="--object-input input" required min="0" max="999999" name="discount" value="0"
                               onkeyup="cal();" placeholder="상품 할인율을 입력해주세요. (0 ~ 100%)" step="1" type="number">
                    </label>
                </td>
            </tr>
            <tr class="priceLine">
                <th>판매 가격</th>
                <td>
                    <label class="label">
                        <span hidden>상품 판매 가격</span>
                        <input th:value="${product.getPrice()}" class="--object-input input" required min="0" max="999999" name="price"
                               onkeyup="this.value=cal();"
                               type="text" value="0원">
                    </label>
                </td>
            </tr>
            <tr class="textLine">
                <th>소개</th>
                <td>
                    <label class="label">
                        <span hidden>상품 소개</span>
                        <textarea th:text="${product.getText()}" style="resize: none" class="--object-input input" placeholder="상품 소개를 입력해주세요"
                                  name="text" maxlength="500"></textarea>
                    </label>
                </td>
            </tr>
            <tr class="deliveryLine">
                <th>상품 배송비</th>
                <td>
                    <label class="label">
                        <span hidden>상품 배송비</span>
                        <input required class="--object-input input" min="3000" max="3000" value="3000" name="delivery" type="number">
                    </label>
                </td>
            </tr>
            <tr class="contentLine">
                <th>상품 상세 정보</th>
                <td>
                    <label class="label">
                        <span hidden>상품 상세 정보</span>
                        <textarea th:utext="${product.getContent()}" class="--object-input input" maxlength="10000" name="content"
                                  placeholder="상품 상세 정보를 입력해주세요"
                                  type="text"></textarea>
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</main>
<!-- cover -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>