<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take a walk duo</title>
    <th:block th:replace="~{fragments/head}"></th:block>
    <link rel="stylesheet" th:href="@{/shop/resources/stylesheets/main.css}">
</head>
<body>
<th:block th:replace="~{fragments/body :: header}"></th:block>
<main class="--main main">
    <div class="img"></div>
    <form class="search-form" id="searchForm" method="get">
        <label class="label">
            <span hidden>검색기준</span>
            <select name="criterion" class="--object-input">
                <option value="all">제목 + 내용</option>
                <option value="title">제목</option>
                <option value="nickname">작성자</option>
            </select>
        </label>
        <label class="label">
            <span hidden>검색어</span>
            <input type="text" class="--object-input"
                   maxlength="50" name="keyword" th:value="${#request.getParameter('keyword')}"
                   placeholder="검색어를 입력해주세요">
        </label>
        <!--            <input name="bid" type="hidden" th:value="${board.getId()}">-->
        <input type="submit" class="--object-button" value="검색">
    </form>
    <div class="--form">
        <div class="--content content">
            <nav>
                <ul class="title-select">
                    <li><a>자유게시판</a></li>
                    <li><a>모임후기</a></li>
                    <li><a>공지사항</a></li>
                    <li><a>Q&A</a></li>
                    <li><a>거래문의</a></li>
                </ul>
                <ul class="title--select">
                    <li>일상</li>
                    <li>꿀Tip</li>
                    <li>유머</li>
                </ul>
            </nav>
            <table class="table" id="table">
                <thead>
                <tr class="list">
                    <th>소형견||대형견</th>
                    <th>번호</th>
                    <th class="title-column">제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>추천수</th>
                    <th>작성 일시</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>갱얼쥐</td>
                    <td>3</td>
                    <td>
                        <a class="title">
                            <span class="text">세번째 게시글</span>
                            <span class="comment">[3]</span>
                        </a>
                    </td>
                    <td>레너드</td>
                    <td>17</td>
                    <td>추천수</td>
                    <td>2022-01-03 00:00:00</td>
                </tr>
                </tbody>
            </table>
        </div>
</main>
<!-- cover -->
<th:block th:replace="~{fragments/body :: cover}"></th:block>
<th:block th:replace="~{fragments/body :: footer}"></th:block>
</body>
</html>